<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>iMatra_reph-deva.02</key>
    <string>iM_atra_reph-deva.02.glif</string>
    <key>iMatra_reph-deva.03</key>
    <string>iM_atra_reph-deva.03.glif</string>
  </dict>
</plist>
