<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>exclam</key>
    <dict>
      <key>public.kern2.W</key>
      <real>-13.08641975308641</real>
      <key>public.kern2.d</key>
      <real>-58.88888888888885</real>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>public.kern2.colon</key>
      <real>13.08641975308641</real>
      <key>public.kern2.period</key>
      <real>13.08641975308641</real>
      <key>space</key>
      <real>-13.08641975308641</real>
    </dict>
    <key>public.kern1.C</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-6.543209876543205</real>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>public.kern2.a</key>
      <real>-52.34567901234564</real>
      <key>public.kern2.c</key>
      <real>-26.17283950617282</real>
      <key>public.kern2.colon</key>
      <real>-13.08641975308641</real>
      <key>public.kern2.d</key>
      <real>-26.17283950617282</real>
      <key>public.kern2.e</key>
      <real>-19.629629629629616</real>
      <key>public.kern2.g</key>
      <real>-26.17283950617282</real>
      <key>public.kern2.j</key>
      <real>-6.543209876543205</real>
      <key>public.kern2.n</key>
      <real>-26.17283950617282</real>
      <key>public.kern2.o</key>
      <real>-39.25925925925923</real>
      <key>public.kern2.p</key>
      <real>-26.17283950617282</real>
      <key>public.kern2.period</key>
      <real>-98.14814814814808</real>
      <key>public.kern2.q</key>
      <real>-39.25925925925923</real>
      <key>public.kern2.s</key>
      <real>-19.629629629629616</real>
      <key>public.kern2.t</key>
      <real>-6.543209876543205</real>
      <key>public.kern2.u</key>
      <real>-26.17283950617282</real>
      <key>public.kern2.w</key>
      <real>-13.08641975308641</real>
      <key>public.kern2.y</key>
      <real>-13.08641975308641</real>
      <key>public.kern2.z</key>
      <real>-19.629629629629616</real>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.C</key>
      <real>-32.71604938271603</real>
      <key>public.kern2.O</key>
      <real>-32.71604938271603</real>
      <key>public.kern2.S</key>
      <real>-13.08641975308641</real>
      <key>public.kern2.T</key>
      <real>-104.69135802469128</real>
      <key>public.kern2.W</key>
      <real>-71.97530864197526</real>
      <key>public.kern2.Y</key>
      <real>-71.97530864197526</real>
      <key>public.kern2.a</key>
      <real>-32.71604938271603</real>
      <key>public.kern2.c</key>
      <real>-26.17283950617282</real>
      <key>public.kern2.colon</key>
      <real>-13.08641975308641</real>
      <key>public.kern2.d</key>
      <real>-32.71604938271603</real>
      <key>public.kern2.e</key>
      <real>-26.17283950617282</real>
      <key>public.kern2.g</key>
      <real>-26.17283950617282</real>
      <key>public.kern2.i</key>
      <real>-13.08641975308641</real>
      <key>public.kern2.j</key>
      <real>-19.629629629629616</real>
      <key>public.kern2.n</key>
      <real>-26.17283950617282</real>
      <key>public.kern2.o</key>
      <real>-26.17283950617282</real>
      <key>public.kern2.p</key>
      <real>-13.08641975308641</real>
      <key>public.kern2.period</key>
      <real>32.71604938271603</real>
      <key>public.kern2.q</key>
      <real>-13.08641975308641</real>
      <key>public.kern2.s</key>
      <real>-26.17283950617282</real>
      <key>public.kern2.straightquote</key>
      <real>-111.2345679012345</real>
      <key>public.kern2.t</key>
      <real>-32.71604938271603</real>
      <key>public.kern2.u</key>
      <real>-26.17283950617282</real>
      <key>public.kern2.w</key>
      <real>-71.97530864197526</real>
      <key>public.kern2.y</key>
      <real>-78.51851851851846</real>
      <key>public.kern2.z</key>
      <real>-13.08641975308641</real>
      <key>space</key>
      <real>-39.25925925925923</real>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-13.08641975308641</real>
      <key>public.kern2.W</key>
      <real>13.08641975308641</real>
      <key>public.kern2.Y</key>
      <real>13.08641975308641</real>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>public.kern2.a</key>
      <real>-52.34567901234564</real>
      <key>public.kern2.c</key>
      <real>-52.34567901234564</real>
      <key>public.kern2.d</key>
      <real>-52.34567901234564</real>
      <key>public.kern2.e</key>
      <real>-52.34567901234564</real>
      <key>public.kern2.g</key>
      <real>-65.43209876543206</real>
      <key>public.kern2.i</key>
      <real>-19.629629629629616</real>
      <key>public.kern2.j</key>
      <real>-19.629629629629616</real>
      <key>public.kern2.n</key>
      <real>-52.34567901234564</real>
      <key>public.kern2.o</key>
      <real>-52.34567901234564</real>
      <key>public.kern2.p</key>
      <real>-45.80246913580244</real>
      <key>public.kern2.period</key>
      <real>-137.4074074074073</real>
      <key>public.kern2.q</key>
      <real>-45.80246913580244</real>
      <key>public.kern2.s</key>
      <real>-39.25925925925923</real>
      <key>public.kern2.u</key>
      <real>-45.80246913580244</real>
      <key>public.kern2.w</key>
      <real>-19.629629629629616</real>
      <key>public.kern2.y</key>
      <real>-13.08641975308641</real>
      <key>public.kern2.z</key>
      <real>-32.71604938271603</real>
      <key>space</key>
      <real>-32.71604938271603</real>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>public.kern2.C</key>
      <real>-32.71604938271603</real>
      <key>public.kern2.O</key>
      <real>-32.71604938271603</real>
      <key>public.kern2.a</key>
      <real>-91.60493827160488</real>
      <key>public.kern2.c</key>
      <real>-91.60493827160488</real>
      <key>public.kern2.colon</key>
      <real>-32.71604938271603</real>
      <key>public.kern2.d</key>
      <real>-91.60493827160488</real>
      <key>public.kern2.e</key>
      <real>-91.60493827160488</real>
      <key>public.kern2.g</key>
      <real>-91.60493827160488</real>
      <key>public.kern2.i</key>
      <real>-26.17283950617282</real>
      <key>public.kern2.j</key>
      <real>-26.17283950617282</real>
      <key>public.kern2.n</key>
      <real>-78.51851851851846</real>
      <key>public.kern2.o</key>
      <real>-91.60493827160488</real>
      <key>public.kern2.p</key>
      <real>-78.51851851851846</real>
      <key>public.kern2.period</key>
      <real>-117.7777777777777</real>
      <key>public.kern2.q</key>
      <real>-91.60493827160488</real>
      <key>public.kern2.s</key>
      <real>-85.06172839506168</real>
      <key>public.kern2.t</key>
      <real>-32.71604938271603</real>
      <key>public.kern2.u</key>
      <real>-78.51851851851846</real>
      <key>public.kern2.w</key>
      <real>-78.51851851851846</real>
      <key>public.kern2.y</key>
      <real>-78.51851851851846</real>
      <key>public.kern2.z</key>
      <real>-78.51851851851846</real>
      <key>space</key>
      <real>-19.629629629629616</real>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>public.kern2.a</key>
      <real>-39.25925925925923</real>
      <key>public.kern2.c</key>
      <real>-13.08641975308641</real>
      <key>public.kern2.colon</key>
      <real>-13.08641975308641</real>
      <key>public.kern2.d</key>
      <real>-26.17283950617282</real>
      <key>public.kern2.e</key>
      <real>-13.08641975308641</real>
      <key>public.kern2.g</key>
      <real>-13.08641975308641</real>
      <key>public.kern2.i</key>
      <real>-6.543209876543205</real>
      <key>public.kern2.j</key>
      <real>-6.543209876543205</real>
      <key>public.kern2.n</key>
      <real>-19.629629629629616</real>
      <key>public.kern2.o</key>
      <real>-19.629629629629616</real>
      <key>public.kern2.p</key>
      <real>-19.629629629629616</real>
      <key>public.kern2.period</key>
      <real>-78.51851851851846</real>
      <key>public.kern2.q</key>
      <real>-19.629629629629616</real>
      <key>public.kern2.s</key>
      <real>-19.629629629629616</real>
      <key>public.kern2.t</key>
      <real>-13.08641975308641</real>
      <key>public.kern2.u</key>
      <real>-26.17283950617282</real>
      <key>public.kern2.w</key>
      <real>-19.629629629629616</real>
      <key>public.kern2.y</key>
      <real>-19.629629629629616</real>
      <key>public.kern2.z</key>
      <real>-26.17283950617282</real>
    </dict>
    <key>public.kern1.W</key>
    <dict>
      <key>exclam</key>
      <real>-13.08641975308641</real>
      <key>public.kern2.O</key>
      <real>-13.08641975308641</real>
      <key>public.kern2.a</key>
      <real>-45.80246913580244</real>
      <key>public.kern2.c</key>
      <real>-19.629629629629616</real>
      <key>public.kern2.colon</key>
      <real>-6.543209876543205</real>
      <key>public.kern2.d</key>
      <real>-26.17283950617282</real>
      <key>public.kern2.e</key>
      <real>-19.629629629629616</real>
      <key>public.kern2.g</key>
      <real>-13.08641975308641</real>
      <key>public.kern2.n</key>
      <real>-6.543209876543205</real>
      <key>public.kern2.o</key>
      <real>-19.629629629629616</real>
      <key>public.kern2.p</key>
      <real>-6.543209876543205</real>
      <key>public.kern2.period</key>
      <real>-65.43209876543206</real>
      <key>public.kern2.q</key>
      <real>-13.08641975308641</real>
      <key>public.kern2.s</key>
      <real>-6.543209876543205</real>
      <key>public.kern2.straightquote</key>
      <real>-13.08641975308641</real>
      <key>public.kern2.u</key>
      <real>-13.08641975308641</real>
      <key>public.kern2.w</key>
      <real>-6.543209876543205</real>
      <key>public.kern2.y</key>
      <real>-6.543209876543205</real>
      <key>public.kern2.z</key>
      <real>-13.08641975308641</real>
      <key>question</key>
      <real>-6.543209876543205</real>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>bracketright</key>
      <real>13.08641975308641</real>
      <key>parenright</key>
      <real>13.08641975308641</real>
      <key>public.kern2.O</key>
      <real>-19.629629629629616</real>
      <key>public.kern2.a</key>
      <real>-58.88888888888885</real>
      <key>public.kern2.c</key>
      <real>-45.80246913580244</real>
      <key>public.kern2.colon</key>
      <real>-19.629629629629616</real>
      <key>public.kern2.curlybrace</key>
      <real>13.08641975308641</real>
      <key>public.kern2.d</key>
      <real>-45.80246913580244</real>
      <key>public.kern2.e</key>
      <real>-45.80246913580244</real>
      <key>public.kern2.g</key>
      <real>-45.80246913580244</real>
      <key>public.kern2.n</key>
      <real>-19.629629629629616</real>
      <key>public.kern2.o</key>
      <real>-45.80246913580244</real>
      <key>public.kern2.p</key>
      <real>-19.629629629629616</real>
      <key>public.kern2.period</key>
      <real>-104.69135802469128</real>
      <key>public.kern2.q</key>
      <real>-52.34567901234564</real>
      <key>public.kern2.s</key>
      <real>-26.17283950617282</real>
      <key>public.kern2.t</key>
      <real>-6.543209876543205</real>
      <key>public.kern2.u</key>
      <real>-26.17283950617282</real>
      <key>public.kern2.w</key>
      <real>-13.08641975308641</real>
      <key>public.kern2.y</key>
      <real>-13.08641975308641</real>
      <key>public.kern2.z</key>
      <real>-32.71604938271603</real>
    </dict>
    <key>public.kern1.a</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-13.08641975308641</real>
      <key>public.kern2.U</key>
      <real>-13.08641975308641</real>
      <key>public.kern2.W</key>
      <real>-13.08641975308641</real>
      <key>public.kern2.Y</key>
      <real>-19.629629629629616</real>
    </dict>
    <key>public.kern1.b</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-71.97530864197526</real>
      <key>public.kern2.U</key>
      <real>-6.543209876543205</real>
      <key>public.kern2.W</key>
      <real>-19.629629629629616</real>
      <key>public.kern2.Y</key>
      <real>-39.25925925925923</real>
    </dict>
    <key>public.kern1.c</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-32.71604938271603</real>
      <key>public.kern2.U</key>
      <real>-6.543209876543205</real>
      <key>public.kern2.W</key>
      <real>-6.543209876543205</real>
      <key>public.kern2.Y</key>
      <real>-19.629629629629616</real>
      <key>public.kern2.colon</key>
      <real>6.543209876543205</real>
      <key>public.kern2.period</key>
      <real>13.08641975308641</real>
      <key>space</key>
      <real>-6.543209876543205</real>
    </dict>
    <key>public.kern1.colon</key>
    <dict>
      <key>public.kern2.A</key>
      <real>13.08641975308641</real>
      <key>public.kern2.T</key>
      <real>-45.80246913580244</real>
      <key>public.kern2.U</key>
      <real>-6.543209876543205</real>
      <key>public.kern2.W</key>
      <real>-6.543209876543205</real>
      <key>public.kern2.Y</key>
      <real>-6.543209876543205</real>
    </dict>
    <key>public.kern1.curlquote</key>
    <dict>
      <key>public.kern2.O</key>
      <real>-45.80246913580244</real>
      <key>public.kern2.U</key>
      <real>-13.08641975308641</real>
      <key>public.kern2.d</key>
      <real>-58.88888888888885</real>
    </dict>
    <key>public.kern1.e</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-32.71604938271603</real>
      <key>public.kern2.U</key>
      <real>-6.543209876543205</real>
      <key>public.kern2.W</key>
      <real>-13.08641975308641</real>
      <key>public.kern2.Y</key>
      <real>-26.17283950617282</real>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>bracketright</key>
      <real>58.88888888888885</real>
      <key>exclam</key>
      <real>6.543209876543205</real>
      <key>parenright</key>
      <real>58.88888888888885</real>
      <key>public.kern2.curlybrace</key>
      <real>58.88888888888885</real>
      <key>public.kern2.curlyquotes</key>
      <real>39.25925925925923</real>
      <key>public.kern2.straightquote</key>
      <real>13.08641975308641</real>
      <key>question</key>
      <real>13.08641975308641</real>
    </dict>
    <key>public.kern1.g</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-45.80246913580244</real>
      <key>public.kern2.Y</key>
      <real>-6.543209876543205</real>
    </dict>
    <key>public.kern1.i</key>
    <dict>
      <key>public.kern2.Y</key>
      <real>-13.08641975308641</real>
    </dict>
    <key>public.kern1.j</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-39.25925925925923</real>
      <key>public.kern2.U</key>
      <real>-13.08641975308641</real>
    </dict>
    <key>public.kern1.k</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-71.97530864197526</real>
      <key>public.kern2.U</key>
      <real>-45.80246913580244</real>
      <key>public.kern2.W</key>
      <real>-32.71604938271603</real>
      <key>public.kern2.Y</key>
      <real>-39.25925925925923</real>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-78.51851851851846</real>
      <key>public.kern2.U</key>
      <real>-45.80246913580244</real>
      <key>public.kern2.W</key>
      <real>-19.629629629629616</real>
      <key>public.kern2.Y</key>
      <real>-26.17283950617282</real>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-6.543209876543205</real>
      <key>public.kern2.U</key>
      <real>-6.543209876543205</real>
    </dict>
    <key>public.kern1.period</key>
    <dict>
      <key>public.kern2.A</key>
      <real>13.08641975308641</real>
      <key>public.kern2.AE</key>
      <real>26.17283950617282</real>
      <key>public.kern2.J</key>
      <real>13.08641975308641</real>
      <key>public.kern2.T</key>
      <real>-98.14814814814808</real>
      <key>public.kern2.U</key>
      <real>-45.80246913580244</real>
      <key>public.kern2.W</key>
      <real>-71.97530864197526</real>
      <key>public.kern2.Y</key>
      <real>-98.14814814814808</real>
      <key>public.kern2.w</key>
      <real>-45.80246913580244</real>
      <key>public.kern2.y</key>
      <real>-45.80246913580244</real>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2.W</key>
      <real>6.543209876543205</real>
      <key>public.kern2.Y</key>
      <real>6.543209876543205</real>
    </dict>
    <key>public.kern1.s</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-39.25925925925923</real>
      <key>public.kern2.U</key>
      <real>-6.543209876543205</real>
      <key>public.kern2.Y</key>
      <real>-13.08641975308641</real>
    </dict>
    <key>public.kern1.straightquote</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-6.543209876543205</real>
      <key>public.kern2.U</key>
      <real>-39.25925925925923</real>
      <key>public.kern2.W</key>
      <real>-13.08641975308641</real>
      <key>public.kern2.d</key>
      <real>-58.88888888888885</real>
    </dict>
    <key>public.kern1.t</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-26.17283950617282</real>
    </dict>
    <key>public.kern1.u</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-13.08641975308641</real>
      <key>public.kern2.U</key>
      <real>-6.543209876543205</real>
      <key>public.kern2.W</key>
      <real>-6.543209876543205</real>
      <key>public.kern2.Y</key>
      <real>-6.543209876543205</real>
    </dict>
    <key>public.kern1.w</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-52.34567901234564</real>
      <key>public.kern2.U</key>
      <real>-13.08641975308641</real>
      <key>public.kern2.Y</key>
      <real>-6.543209876543205</real>
      <key>public.kern2.period</key>
      <real>-45.80246913580244</real>
      <key>space</key>
      <real>-19.629629629629616</real>
    </dict>
    <key>public.kern1.y</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-32.71604938271603</real>
      <key>public.kern2.U</key>
      <real>-13.08641975308641</real>
      <key>public.kern2.Y</key>
      <real>-13.08641975308641</real>
      <key>public.kern2.period</key>
      <real>-58.88888888888885</real>
      <key>space</key>
      <real>-19.629629629629616</real>
    </dict>
    <key>public.kern1.z</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-26.17283950617282</real>
      <key>public.kern2.Y</key>
      <real>-6.543209876543205</real>
    </dict>
    <key>question</key>
    <dict>
      <key>public.kern2.W</key>
      <real>-6.543209876543205</real>
      <key>public.kern2.d</key>
      <real>-58.88888888888885</real>
    </dict>
    <key>space</key>
    <dict>
      <key>public.kern2.AE</key>
      <real>-26.17283950617282</real>
      <key>public.kern2.J</key>
      <real>-39.25925925925923</real>
      <key>public.kern2.T</key>
      <real>-19.629629629629616</real>
      <key>public.kern2.c</key>
      <real>-6.543209876543205</real>
      <key>public.kern2.w</key>
      <real>-19.629629629629616</real>
      <key>public.kern2.y</key>
      <real>-19.629629629629616</real>
    </dict>
  </dict>
</plist>
