<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>anusvara-deva</key>
    <string>anusvara-deva.glif</string>
    <key>b_la-deva.loclMAR</key>
    <string>b_la-deva.loclM_A_R_.glif</string>
    <key>bh_la-deva.loclMAR</key>
    <string>bh_la-deva.loclM_A_R_.glif</string>
    <key>c_la-deva.loclMAR</key>
    <string>c_la-deva.loclM_A_R_.glif</string>
    <key>candraBindu_reph-deva</key>
    <string>candraB_indu_reph-deva.glif</string>
    <key>ch_la-deva.loclMAR</key>
    <string>ch_la-deva.loclM_A_R_.glif</string>
    <key>eCandraMatra-deva.001</key>
    <string>eC_andraM_atra-deva.001.glif</string>
    <key>eCandraMatra-deva.01</key>
    <string>eC_andraM_atra-deva.01.glif</string>
    <key>eCandraMatra_reph-deva</key>
    <string>eC_andraM_atra_reph-deva.glif</string>
    <key>eShortMatra_reph-deva</key>
    <string>eS_hortM_atra_reph-deva.glif</string>
    <key>eShortMatra_reph_anusvara-deva</key>
    <string>eS_hortM_atra_reph_anusvara-deva.glif</string>
    <key>gh_la-deva.loclMAR</key>
    <string>gh_la-deva.loclM_A_R_.glif</string>
    <key>k_ssa_uMatra-deva</key>
    <string>k_ssa_uM_atra-deva.glif</string>
    <key>kh_la-deva.loclMAR</key>
    <string>kh_la-deva.loclM_A_R_.glif</string>
    <key>m_la-deva.loclMAR</key>
    <string>m_la-deva.loclM_A_R_.glif</string>
    <key>nukta-deva</key>
    <string>nukta-deva.glif</string>
    <key>nukta_halant-deva</key>
    <string>nukta_halant-deva.glif</string>
    <key>nukta_rakar-deva</key>
    <string>nukta_rakar-deva.glif</string>
    <key>nukta_rakar_uMatra-deva</key>
    <string>nukta_rakar_uM_atra-deva.glif</string>
    <key>nukta_rakar_uuMatra-deva</key>
    <string>nukta_rakar_uuM_atra-deva.glif</string>
    <key>oCandraMatra-deva</key>
    <string>oC_andraM_atra-deva.glif</string>
    <key>oCandraMatra_reph-deva</key>
    <string>oC_andraM_atra_reph-deva.glif</string>
    <key>oShortMatra_reph-deva</key>
    <string>oS_hortM_atra_reph-deva.glif</string>
    <key>oShortMatra_reph_anusvara-deva</key>
    <string>oS_hortM_atra_reph_anusvara-deva.glif</string>
    <key>p_la-deva</key>
    <string>p_la-deva.glif</string>
    <key>ph_la-deva</key>
    <string>ph_la-deva.glif</string>
    <key>reph-deva.imatra</key>
    <string>reph-deva.imatra.glif</string>
    <key>reph_anusvara-deva.imatra</key>
    <string>reph_anusvara-deva.imatra.glif</string>
    <key>v_la-deva.loclMAR</key>
    <string>v_la-deva.loclM_A_R_.glif</string>
  </dict>
</plist>
