<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<array>
		<string>uni1EB4</string>
		<string>Atilde</string>
		<string>uni1EAE</string>
		<string>uni1EAA</string>
		<string>uni1EAC</string>
		<string>Adieresis</string>
		<string>uni1EB0</string>
		<string>uni1EB2</string>
		<string>Aacute</string>
		<string>uni1EB6</string>
		<string>Acircumflex</string>
		<string>A</string>
		<string>uni01CD</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>uni1EA8</string>
		<string>uni1EA4</string>
		<string>uni1EA6</string>
		<string>uni1EA0</string>
		<string>uni1EA2</string>
		<string>Agrave</string>
		<string>Abreve</string>
	</array>
	<key>@MMK_L_C</key>
	<array>
		<string>C</string>
		<string>Cdotaccent</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccircumflex</string>
		<string>Ccedilla</string>
	</array>
	<key>@MMK_L_F</key>
	<array>
		<string>uni1E1E</string>
		<string>F</string>
	</array>
	<key>@MMK_L_L</key>
	<array>
		<string>uni1E36</string>
		<string>Lcaron</string>
		<string>L</string>
		<string>uni1E38</string>
		<string>uni013B</string>
		<string>Lacute</string>
		<string>uni1E3A</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>Otilde</string>
		<string>uni1ED2</string>
		<string>uni1ED0</string>
		<string>uni1ED6</string>
		<string>uni1ED4</string>
		<string>uni1ED8</string>
		<string>Ohorn</string>
		<string>uni1ECE</string>
		<string>uni1ECC</string>
		<string>Odieresis</string>
		<string>Ohungarumlaut</string>
		<string>Oslash</string>
		<string>Omacron</string>
		<string>uni01EA</string>
		<string>O</string>
		<string>Q</string>
		<string>uni1EE2</string>
		<string>uni014E</string>
		<string>Oacute</string>
		<string>uni1EDC</string>
		<string>uni1EE0</string>
		<string>uni1EDA</string>
		<string>uni1EDE</string>
		<string>Ograve</string>
		<string>Ocircumflex</string>
		<string>uni01D1</string>
	</array>
	<key>@MMK_L_P</key>
	<array>
		<string>P</string>
		<string>uni1E56</string>
	</array>
	<key>@MMK_L_T</key>
	<array>
		<string>uni0162</string>
		<string>T</string>
		<string>uni1E6E</string>
		<string>uni1E6A</string>
		<string>uni021A</string>
		<string>uni1E6C</string>
		<string>Tcaron</string>
	</array>
	<key>@MMK_L_U</key>
	<array>
		<string>uni01DB</string>
		<string>Utilde</string>
		<string>Uogonek</string>
		<string>Ucircumflex</string>
		<string>Ubreve</string>
		<string>uni1EF0</string>
		<string>uni1EEA</string>
		<string>uni1EEC</string>
		<string>Umacron</string>
		<string>uni1EEE</string>
		<string>Uacute</string>
		<string>Uhorn</string>
		<string>uni1EE4</string>
		<string>uni1EE6</string>
		<string>uni1EE8</string>
		<string>Udieresis</string>
		<string>Uhungarumlaut</string>
		<string>Uring</string>
		<string>uni01D9</string>
		<string>Ugrave</string>
		<string>U</string>
		<string>uni01D3</string>
		<string>uni01D5</string>
		<string>uni01D7</string>
	</array>
	<key>@MMK_L_W</key>
	<array>
		<string>Wgrave</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>W</string>
		<string>Wacute</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>uni1E8E</string>
		<string>Yacute</string>
		<string>Y</string>
		<string>uni1EF4</string>
		<string>uni1EF6</string>
		<string>Ygrave</string>
		<string>uni1EF8</string>
	</array>
	<key>@MMK_L_a</key>
	<array>
		<string>aring</string>
		<string>agrave</string>
		<string>uni1EAD</string>
		<string>uni01CE</string>
		<string>uni1EAF</string>
		<string>uni1EAB</string>
		<string>abreve</string>
		<string>uni1EB1</string>
		<string>uni1EB3</string>
		<string>uni1EB5</string>
		<string>uni1EB7</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>a</string>
		<string>uni1EA9</string>
		<string>uni1EA5</string>
		<string>uni1EA7</string>
		<string>uni1EA1</string>
		<string>uni1EA3</string>
		<string>amacron</string>
		<string>aogonek</string>
	</array>
	<key>@MMK_L_b</key>
	<array>
		<string>b</string>
		<string>uni1E57</string>
		<string>uni0180</string>
		<string>thorn</string>
		<string>p</string>
		<string>uni1E03</string>
	</array>
	<key>@MMK_L_c</key>
	<array>
		<string>c</string>
		<string>cdotaccent</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccircumflex</string>
		<string>ccedilla</string>
	</array>
	<key>@MMK_L_colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_L_curlquote</key>
	<array>
		<string>quoteright</string>
		<string>quotedblright</string>
		<string>quotereversed</string>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>@MMK_L_e</key>
	<array>
		<string>ecaron</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>eogonek</string>
		<string>e</string>
		<string>oe</string>
		<string>ebreve</string>
		<string>aeacute</string>
		<string>ecircumflex</string>
		<string>uni1EC7</string>
		<string>uni1EBB</string>
		<string>uni1EC5</string>
		<string>emacron</string>
		<string>uni1EC3</string>
		<string>eacute</string>
		<string>ae</string>
		<string>uni1EC1</string>
		<string>uni1EB9</string>
		<string>uni1EBD</string>
		<string>edotaccent</string>
		<string>uni1EBF</string>
	</array>
	<key>@MMK_L_f</key>
	<array>
		<string>f_f</string>
		<string>uni1E1F</string>
		<string>f</string>
	</array>
	<key>@MMK_L_g</key>
	<array>
		<string>gdotaccent</string>
		<string>gbreve</string>
		<string>g</string>
		<string>gcircumflex</string>
		<string>uni0123</string>
		<string>gcaron</string>
		<string>uni1E21</string>
		<string>g_tildecomb</string>
	</array>
	<key>@MMK_L_i</key>
	<array>
		<string>uni1ECB</string>
		<string>iacute</string>
		<string>iogonek</string>
		<string>i</string>
		<string>igrave</string>
		<string>itilde</string>
		<string>icircumflex</string>
		<string>imacron</string>
		<string>uni01D0</string>
		<string>fi</string>
		<string>uni012D</string>
		<string>dotlessi</string>
		<string>idieresis</string>
		<string>uni1EC9</string>
	</array>
	<key>@MMK_L_j</key>
	<array>
		<string>uni01CC</string>
		<string>uni01CB</string>
		<string>j</string>
		<string>ij</string>
		<string>jcircumflex</string>
		<string>uni01C9</string>
		<string>uni01C8</string>
	</array>
	<key>@MMK_L_k</key>
	<array>
		<string>k</string>
		<string>kgreenlandic</string>
		<string>uni0137</string>
	</array>
	<key>@MMK_L_n</key>
	<array>
		<string>uni1E43</string>
		<string>napostrophe</string>
		<string>nacute</string>
		<string>uni1E45</string>
		<string>h</string>
		<string>uni1E49</string>
		<string>uni1E2B</string>
		<string>m</string>
		<string>uni1E41</string>
		<string>uni0146</string>
		<string>n</string>
		<string>ntilde</string>
		<string>uni1E47</string>
		<string>hcircumflex</string>
		<string>ncaron</string>
		<string>hbar</string>
		<string>uni1E25</string>
	</array>
	<key>@MMK_L_o</key>
	<array>
		<string>ograve</string>
		<string>ocircumflex</string>
		<string>uni1ED3</string>
		<string>uni1ED1</string>
		<string>uni1ED7</string>
		<string>uni1ED5</string>
		<string>uni1ED9</string>
		<string>uni1ECF</string>
		<string>uni1ECD</string>
		<string>otilde</string>
		<string>ohorn</string>
		<string>odieresis</string>
		<string>ohungarumlaut</string>
		<string>uni01EB</string>
		<string>uni1EE1</string>
		<string>uni1EE3</string>
		<string>uni014F</string>
		<string>oslash</string>
		<string>uni1EDB</string>
		<string>omacron</string>
		<string>uni1EDF</string>
		<string>uni1EDD</string>
		<string>o</string>
		<string>uni01D2</string>
		<string>oacute</string>
	</array>
	<key>@MMK_L_period</key>
	<array>
		<string>ellipsis</string>
		<string>comma</string>
		<string>period</string>
	</array>
	<key>@MMK_L_r</key>
	<array>
		<string>racute</string>
		<string>uni0157</string>
		<string>rcaron</string>
		<string>uni1E5B</string>
		<string>r</string>
		<string>uni1E5D</string>
		<string>uni1E5F</string>
	</array>
	<key>@MMK_L_s</key>
	<array>
		<string>uni0219</string>
		<string>scircumflex</string>
		<string>uni1E61</string>
		<string>uni1E63</string>
		<string>s</string>
		<string>sacute</string>
		<string>uni015F</string>
		<string>scaron</string>
	</array>
	<key>@MMK_L_straightquote</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>@MMK_L_t</key>
	<array>
		<string>uni1E97</string>
		<string>f_t</string>
		<string>uni0163</string>
		<string>t</string>
		<string>uni1E6D</string>
		<string>uni1E6F</string>
		<string>uni021B</string>
		<string>uni1E6B</string>
	</array>
	<key>@MMK_L_u</key>
	<array>
		<string>udieresis</string>
		<string>uhungarumlaut</string>
		<string>utilde</string>
		<string>umacron</string>
		<string>uacute</string>
		<string>uni01DC</string>
		<string>uni1EE7</string>
		<string>uring</string>
		<string>uni01D8</string>
		<string>ugrave</string>
		<string>uogonek</string>
		<string>ucircumflex</string>
		<string>uni1EE5</string>
		<string>uni01DA</string>
		<string>u</string>
		<string>ubreve</string>
		<string>uni01D4</string>
		<string>uni01D6</string>
	</array>
	<key>@MMK_L_w</key>
	<array>
		<string>wgrave</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>w</string>
		<string>wacute</string>
	</array>
	<key>@MMK_L_y</key>
	<array>
		<string>ycircumflex</string>
		<string>y</string>
		<string>ydieresis</string>
		<string>uni1E8F</string>
		<string>uni1EF9</string>
		<string>yacute</string>
		<string>uni1EF5</string>
		<string>uni1EF7</string>
		<string>ygrave</string>
	</array>
	<key>@MMK_L_z</key>
	<array>
		<string>uni01F2</string>
		<string>uni01F3</string>
		<string>zcaron</string>
		<string>uni1E93</string>
		<string>zdotaccent</string>
		<string>uni01C5</string>
		<string>uni01C6</string>
		<string>zacute</string>
		<string>z</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>uni1EB4</string>
		<string>Atilde</string>
		<string>uni1EAE</string>
		<string>uni1EAA</string>
		<string>uni1EAC</string>
		<string>Adieresis</string>
		<string>uni1EB0</string>
		<string>uni1EB2</string>
		<string>Aacute</string>
		<string>uni1EB6</string>
		<string>Acircumflex</string>
		<string>A</string>
		<string>uni01CD</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>uni1EA8</string>
		<string>uni1EA4</string>
		<string>uni1EA6</string>
		<string>uni1EA0</string>
		<string>uni1EA2</string>
		<string>Agrave</string>
		<string>Abreve</string>
	</array>
	<key>@MMK_R_AE</key>
	<array>
		<string>AE</string>
	</array>
	<key>@MMK_R_C</key>
	<array>
		<string>Gdotaccent</string>
		<string>Gbreve</string>
		<string>C</string>
		<string>Cdotaccent</string>
		<string>G</string>
		<string>Cacute</string>
		<string>uni0122</string>
		<string>Gcircumflex</string>
		<string>Ccaron</string>
		<string>Gcaron</string>
		<string>Ccircumflex</string>
		<string>uni1E20</string>
		<string>Ccedilla</string>
		<string>G_tildecomb</string>
	</array>
	<key>@MMK_R_J</key>
	<array>
		<string>J</string>
		<string>Jcircumflex</string>
	</array>
	<key>@MMK_R_O</key>
	<array>
		<string>Otilde</string>
		<string>uni1ED2</string>
		<string>uni1ED0</string>
		<string>uni1ED6</string>
		<string>uni1ED4</string>
		<string>uni1ED8</string>
		<string>Ohorn</string>
		<string>uni1ECE</string>
		<string>uni1ECC</string>
		<string>Odieresis</string>
		<string>Ohungarumlaut</string>
		<string>Oslash</string>
		<string>Omacron</string>
		<string>uni01EA</string>
		<string>O</string>
		<string>Q</string>
		<string>uni1EE2</string>
		<string>uni014E</string>
		<string>Oacute</string>
		<string>uni1EDC</string>
		<string>uni1EE0</string>
		<string>uni1EDA</string>
		<string>uni1EDE</string>
		<string>Ograve</string>
		<string>OE</string>
		<string>uni01D1</string>
		<string>Ocircumflex</string>
	</array>
	<key>@MMK_R_S</key>
	<array>
		<string>uni0218</string>
		<string>Scircumflex</string>
		<string>uni1E60</string>
		<string>uni1E62</string>
		<string>S</string>
		<string>Scaron</string>
		<string>Sacute</string>
		<string>uni015E</string>
	</array>
	<key>@MMK_R_T</key>
	<array>
		<string>uni0162</string>
		<string>T</string>
		<string>uni1E6E</string>
		<string>uni1E6A</string>
		<string>uni021A</string>
		<string>uni1E6C</string>
		<string>Tcaron</string>
	</array>
	<key>@MMK_R_U</key>
	<array>
		<string>uni01DB</string>
		<string>Utilde</string>
		<string>Uogonek</string>
		<string>Ucircumflex</string>
		<string>Ubreve</string>
		<string>uni1EF0</string>
		<string>uni1EEA</string>
		<string>uni1EEC</string>
		<string>Umacron</string>
		<string>uni1EEE</string>
		<string>Uacute</string>
		<string>Uhorn</string>
		<string>uni1EE4</string>
		<string>uni1EE6</string>
		<string>uni1EE8</string>
		<string>Udieresis</string>
		<string>Uhungarumlaut</string>
		<string>Uring</string>
		<string>uni01D9</string>
		<string>Ugrave</string>
		<string>U</string>
		<string>uni01D3</string>
		<string>uni01D5</string>
		<string>uni01D7</string>
	</array>
	<key>@MMK_R_W</key>
	<array>
		<string>Wgrave</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>W</string>
		<string>Wacute</string>
	</array>
	<key>@MMK_R_Y</key>
	<array>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>uni1E8E</string>
		<string>Yacute</string>
		<string>Y</string>
		<string>uni1EF4</string>
		<string>uni1EF6</string>
		<string>Ygrave</string>
		<string>uni1EF8</string>
	</array>
	<key>@MMK_R_a</key>
	<array>
		<string>aring</string>
		<string>ae</string>
		<string>aeacute</string>
		<string>agrave</string>
		<string>uni1EAD</string>
		<string>adieresis</string>
		<string>uni1EAF</string>
		<string>uni1EAB</string>
		<string>abreve</string>
		<string>uni1EB1</string>
		<string>uni1EB3</string>
		<string>uni1EB5</string>
		<string>uni1EB7</string>
		<string>atilde</string>
		<string>uni01CE</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>a</string>
		<string>uni1EA9</string>
		<string>uni1EA5</string>
		<string>uni1EA7</string>
		<string>uni1EA1</string>
		<string>uni1EA3</string>
		<string>amacron</string>
		<string>aogonek</string>
	</array>
	<key>@MMK_R_c</key>
	<array>
		<string>c</string>
		<string>cdotaccent</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccircumflex</string>
		<string>eth</string>
		<string>ccedilla</string>
	</array>
	<key>@MMK_R_colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_R_curlybrace</key>
	<array>
		<string>braceright</string>
	</array>
	<key>@MMK_R_curlyquotes</key>
	<array>
		<string>quoteright</string>
		<string>quotedblright</string>
		<string>quotereversed</string>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>@MMK_R_d</key>
	<array>
		<string>uni01F3</string>
		<string>uni1E0D</string>
		<string>d</string>
		<string>uni1E0F</string>
		<string>dcroat</string>
		<string>uni1E0B</string>
		<string>dcaron</string>
		<string>uni01C6</string>
	</array>
	<key>@MMK_R_e</key>
	<array>
		<string>ecaron</string>
		<string>uni1EB9</string>
		<string>egrave</string>
		<string>ecircumflex</string>
		<string>e</string>
		<string>ebreve</string>
		<string>uni1EC5</string>
		<string>edieresis</string>
		<string>uni1EC7</string>
		<string>eogonek</string>
		<string>emacron</string>
		<string>uni1EC3</string>
		<string>uni1EC1</string>
		<string>eacute</string>
		<string>uni1EBB</string>
		<string>uni1EBD</string>
		<string>edotaccent</string>
		<string>uni1EBF</string>
	</array>
	<key>@MMK_R_g</key>
	<array>
		<string>gdotaccent</string>
		<string>gbreve</string>
		<string>g</string>
		<string>gcircumflex</string>
		<string>uni0123</string>
		<string>gcaron</string>
		<string>uni1E21</string>
		<string>g_tildecomb</string>
	</array>
	<key>@MMK_R_i</key>
	<array>
		<string>uni1ECB</string>
		<string>iacute</string>
		<string>iogonek</string>
		<string>i</string>
		<string>igrave</string>
		<string>itilde</string>
		<string>icircumflex</string>
		<string>imacron</string>
		<string>ij</string>
		<string>uni01D0</string>
		<string>uni012D</string>
		<string>dotlessi</string>
		<string>idieresis</string>
		<string>uni1EC9</string>
	</array>
	<key>@MMK_R_j</key>
	<array>
		<string>j</string>
		<string>jcircumflex</string>
	</array>
	<key>@MMK_R_n</key>
	<array>
		<string>racute</string>
		<string>uni1E43</string>
		<string>uni01CC</string>
		<string>nacute</string>
		<string>uni1E45</string>
		<string>uni1E41</string>
		<string>uni0157</string>
		<string>uni1E49</string>
		<string>kgreenlandic</string>
		<string>m</string>
		<string>rcaron</string>
		<string>uni0146</string>
		<string>n</string>
		<string>ntilde</string>
		<string>r</string>
		<string>uni1E5D</string>
		<string>uni1E5B</string>
		<string>uni1E5F</string>
		<string>ncaron</string>
		<string>uni1E47</string>
	</array>
	<key>@MMK_R_o</key>
	<array>
		<string>ograve</string>
		<string>ocircumflex</string>
		<string>uni1ED3</string>
		<string>uni1ED1</string>
		<string>uni1ED7</string>
		<string>uni1ED5</string>
		<string>uni1ED9</string>
		<string>uni1ECF</string>
		<string>uni1ECD</string>
		<string>otilde</string>
		<string>ohorn</string>
		<string>odieresis</string>
		<string>ohungarumlaut</string>
		<string>uni01EB</string>
		<string>uni1EE1</string>
		<string>uni1EE3</string>
		<string>uni014F</string>
		<string>oslash</string>
		<string>uni1EDB</string>
		<string>omacron</string>
		<string>uni1EDF</string>
		<string>uni1EDD</string>
		<string>oe</string>
		<string>o</string>
		<string>uni01D2</string>
		<string>oacute</string>
	</array>
	<key>@MMK_R_p</key>
	<array>
		<string>p</string>
		<string>uni1E57</string>
	</array>
	<key>@MMK_R_period</key>
	<array>
		<string>ellipsis</string>
		<string>comma</string>
		<string>period</string>
	</array>
	<key>@MMK_R_q</key>
	<array>
		<string>q</string>
	</array>
	<key>@MMK_R_s</key>
	<array>
		<string>uni0219</string>
		<string>scircumflex</string>
		<string>uni1E61</string>
		<string>uni1E63</string>
		<string>s</string>
		<string>sacute</string>
		<string>uni015F</string>
		<string>scaron</string>
	</array>
	<key>@MMK_R_straightquote</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>@MMK_R_t</key>
	<array>
		<string>uni1E6F</string>
		<string>uni0163</string>
		<string>uni1E97</string>
		<string>t</string>
		<string>uni1E6D</string>
		<string>tcaron</string>
		<string>uni021B</string>
		<string>uni1E6B</string>
	</array>
	<key>@MMK_R_u</key>
	<array>
		<string>udieresis</string>
		<string>uhungarumlaut</string>
		<string>uni01DA</string>
		<string>uni01DC</string>
		<string>uring</string>
		<string>ugrave</string>
		<string>uni1EF1</string>
		<string>uni1EEB</string>
		<string>uni1EED</string>
		<string>uni1EEF</string>
		<string>utilde</string>
		<string>uogonek</string>
		<string>ucircumflex</string>
		<string>ubreve</string>
		<string>umacron</string>
		<string>uacute</string>
		<string>uni1EE5</string>
		<string>uni1EE7</string>
		<string>uni1EE9</string>
		<string>uhorn</string>
		<string>uni01D8</string>
		<string>u</string>
		<string>uni01D4</string>
		<string>uni01D6</string>
	</array>
	<key>@MMK_R_w</key>
	<array>
		<string>wgrave</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>w</string>
		<string>wacute</string>
	</array>
	<key>@MMK_R_y</key>
	<array>
		<string>ycircumflex</string>
		<string>y</string>
		<string>ydieresis</string>
		<string>uni1E8F</string>
		<string>uni1EF9</string>
		<string>yacute</string>
		<string>uni1EF5</string>
		<string>uni1EF7</string>
		<string>ygrave</string>
	</array>
	<key>@MMK_R_z</key>
	<array>
		<string>zacute</string>
		<string>zdotaccent</string>
		<string>z</string>
		<string>zcaron</string>
		<string>uni1E93</string>
	</array>
</dict>
</plist>
