<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <dict>
      <key>public.kern2.colon</key>
      <integer>0</integer>
      <key>public.kern2.period</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.C</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>0</integer>
      <key>public.kern2.c</key>
      <integer>0</integer>
      <key>public.kern2.colon</key>
      <integer>0</integer>
      <key>public.kern2.d</key>
      <integer>0</integer>
      <key>public.kern2.e</key>
      <integer>0</integer>
      <key>public.kern2.g</key>
      <integer>0</integer>
      <key>public.kern2.j</key>
      <integer>0</integer>
      <key>public.kern2.n</key>
      <integer>0</integer>
      <key>public.kern2.o</key>
      <integer>0</integer>
      <key>public.kern2.p</key>
      <integer>0</integer>
      <key>public.kern2.period</key>
      <integer>0</integer>
      <key>public.kern2.q</key>
      <integer>0</integer>
      <key>public.kern2.s</key>
      <integer>0</integer>
      <key>public.kern2.t</key>
      <integer>0</integer>
      <key>public.kern2.u</key>
      <integer>0</integer>
      <key>public.kern2.w</key>
      <integer>0</integer>
      <key>public.kern2.y</key>
      <integer>0</integer>
      <key>public.kern2.z</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.C</key>
      <integer>0</integer>
      <key>public.kern2.O</key>
      <integer>0</integer>
      <key>public.kern2.S</key>
      <integer>0</integer>
      <key>public.kern2.T</key>
      <integer>0</integer>
      <key>public.kern2.W</key>
      <integer>0</integer>
      <key>public.kern2.Y</key>
      <integer>0</integer>
      <key>public.kern2.a</key>
      <integer>0</integer>
      <key>public.kern2.c</key>
      <integer>0</integer>
      <key>public.kern2.colon</key>
      <integer>0</integer>
      <key>public.kern2.d</key>
      <integer>0</integer>
      <key>public.kern2.e</key>
      <integer>0</integer>
      <key>public.kern2.g</key>
      <integer>0</integer>
      <key>public.kern2.i</key>
      <integer>0</integer>
      <key>public.kern2.j</key>
      <integer>0</integer>
      <key>public.kern2.n</key>
      <integer>0</integer>
      <key>public.kern2.o</key>
      <integer>0</integer>
      <key>public.kern2.p</key>
      <integer>0</integer>
      <key>public.kern2.period</key>
      <integer>0</integer>
      <key>public.kern2.q</key>
      <integer>0</integer>
      <key>public.kern2.s</key>
      <integer>0</integer>
      <key>public.kern2.straightquote</key>
      <integer>0</integer>
      <key>public.kern2.t</key>
      <integer>0</integer>
      <key>public.kern2.u</key>
      <integer>0</integer>
      <key>public.kern2.w</key>
      <integer>0</integer>
      <key>public.kern2.y</key>
      <integer>0</integer>
      <key>public.kern2.z</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>0</integer>
      <key>public.kern2.W</key>
      <integer>0</integer>
      <key>public.kern2.Y</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>0</integer>
      <key>public.kern2.c</key>
      <integer>0</integer>
      <key>public.kern2.d</key>
      <integer>0</integer>
      <key>public.kern2.e</key>
      <integer>0</integer>
      <key>public.kern2.g</key>
      <integer>0</integer>
      <key>public.kern2.i</key>
      <integer>0</integer>
      <key>public.kern2.j</key>
      <integer>0</integer>
      <key>public.kern2.n</key>
      <integer>0</integer>
      <key>public.kern2.o</key>
      <integer>0</integer>
      <key>public.kern2.p</key>
      <integer>0</integer>
      <key>public.kern2.period</key>
      <integer>0</integer>
      <key>public.kern2.q</key>
      <integer>0</integer>
      <key>public.kern2.s</key>
      <integer>0</integer>
      <key>public.kern2.u</key>
      <integer>0</integer>
      <key>public.kern2.w</key>
      <integer>0</integer>
      <key>public.kern2.y</key>
      <integer>0</integer>
      <key>public.kern2.z</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>public.kern2.C</key>
      <integer>0</integer>
      <key>public.kern2.O</key>
      <integer>0</integer>
      <key>public.kern2.a</key>
      <integer>0</integer>
      <key>public.kern2.c</key>
      <integer>0</integer>
      <key>public.kern2.colon</key>
      <integer>0</integer>
      <key>public.kern2.d</key>
      <integer>0</integer>
      <key>public.kern2.e</key>
      <integer>0</integer>
      <key>public.kern2.g</key>
      <integer>0</integer>
      <key>public.kern2.i</key>
      <integer>0</integer>
      <key>public.kern2.j</key>
      <integer>0</integer>
      <key>public.kern2.n</key>
      <integer>0</integer>
      <key>public.kern2.o</key>
      <integer>0</integer>
      <key>public.kern2.p</key>
      <integer>0</integer>
      <key>public.kern2.period</key>
      <integer>0</integer>
      <key>public.kern2.q</key>
      <integer>0</integer>
      <key>public.kern2.s</key>
      <integer>0</integer>
      <key>public.kern2.t</key>
      <integer>0</integer>
      <key>public.kern2.u</key>
      <integer>0</integer>
      <key>public.kern2.w</key>
      <integer>0</integer>
      <key>public.kern2.y</key>
      <integer>0</integer>
      <key>public.kern2.z</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>0</integer>
      <key>public.kern2.c</key>
      <integer>0</integer>
      <key>public.kern2.colon</key>
      <integer>0</integer>
      <key>public.kern2.d</key>
      <integer>0</integer>
      <key>public.kern2.e</key>
      <integer>0</integer>
      <key>public.kern2.g</key>
      <integer>0</integer>
      <key>public.kern2.i</key>
      <integer>0</integer>
      <key>public.kern2.j</key>
      <integer>0</integer>
      <key>public.kern2.n</key>
      <integer>0</integer>
      <key>public.kern2.o</key>
      <integer>0</integer>
      <key>public.kern2.p</key>
      <integer>0</integer>
      <key>public.kern2.period</key>
      <integer>0</integer>
      <key>public.kern2.q</key>
      <integer>0</integer>
      <key>public.kern2.s</key>
      <integer>0</integer>
      <key>public.kern2.t</key>
      <integer>0</integer>
      <key>public.kern2.u</key>
      <integer>0</integer>
      <key>public.kern2.w</key>
      <integer>0</integer>
      <key>public.kern2.y</key>
      <integer>0</integer>
      <key>public.kern2.z</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.W</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>0</integer>
      <key>public.kern2.a</key>
      <integer>0</integer>
      <key>public.kern2.c</key>
      <integer>0</integer>
      <key>public.kern2.colon</key>
      <integer>0</integer>
      <key>public.kern2.d</key>
      <integer>0</integer>
      <key>public.kern2.e</key>
      <integer>0</integer>
      <key>public.kern2.g</key>
      <integer>0</integer>
      <key>public.kern2.n</key>
      <integer>0</integer>
      <key>public.kern2.o</key>
      <integer>0</integer>
      <key>public.kern2.p</key>
      <integer>0</integer>
      <key>public.kern2.period</key>
      <integer>0</integer>
      <key>public.kern2.q</key>
      <integer>0</integer>
      <key>public.kern2.s</key>
      <integer>0</integer>
      <key>public.kern2.straightquote</key>
      <integer>0</integer>
      <key>public.kern2.u</key>
      <integer>0</integer>
      <key>public.kern2.w</key>
      <integer>0</integer>
      <key>public.kern2.y</key>
      <integer>0</integer>
      <key>public.kern2.z</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>0</integer>
      <key>public.kern2.a</key>
      <integer>0</integer>
      <key>public.kern2.c</key>
      <integer>0</integer>
      <key>public.kern2.colon</key>
      <integer>0</integer>
      <key>public.kern2.curlybrace</key>
      <integer>0</integer>
      <key>public.kern2.d</key>
      <integer>0</integer>
      <key>public.kern2.e</key>
      <integer>0</integer>
      <key>public.kern2.g</key>
      <integer>0</integer>
      <key>public.kern2.n</key>
      <integer>0</integer>
      <key>public.kern2.o</key>
      <integer>0</integer>
      <key>public.kern2.p</key>
      <integer>0</integer>
      <key>public.kern2.period</key>
      <integer>0</integer>
      <key>public.kern2.q</key>
      <integer>0</integer>
      <key>public.kern2.s</key>
      <integer>0</integer>
      <key>public.kern2.t</key>
      <integer>0</integer>
      <key>public.kern2.u</key>
      <integer>0</integer>
      <key>public.kern2.w</key>
      <integer>0</integer>
      <key>public.kern2.y</key>
      <integer>0</integer>
      <key>public.kern2.z</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.a</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>0</integer>
      <key>public.kern2.U</key>
      <integer>0</integer>
      <key>public.kern2.W</key>
      <integer>0</integer>
      <key>public.kern2.Y</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.b</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>0</integer>
      <key>public.kern2.U</key>
      <integer>0</integer>
      <key>public.kern2.W</key>
      <integer>0</integer>
      <key>public.kern2.Y</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.c</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>0</integer>
      <key>public.kern2.U</key>
      <integer>0</integer>
      <key>public.kern2.W</key>
      <integer>0</integer>
      <key>public.kern2.Y</key>
      <integer>0</integer>
      <key>public.kern2.colon</key>
      <integer>0</integer>
      <key>public.kern2.period</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.colon</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>0</integer>
      <key>public.kern2.T</key>
      <integer>0</integer>
      <key>public.kern2.U</key>
      <integer>0</integer>
      <key>public.kern2.W</key>
      <integer>0</integer>
      <key>public.kern2.Y</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.curlquote</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>0</integer>
      <key>public.kern2.U</key>
      <integer>0</integer>
      <key>public.kern2.d</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.e</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>0</integer>
      <key>public.kern2.U</key>
      <integer>0</integer>
      <key>public.kern2.W</key>
      <integer>0</integer>
      <key>public.kern2.Y</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>public.kern2.curlybrace</key>
      <integer>0</integer>
      <key>public.kern2.curlyquotes</key>
      <integer>0</integer>
      <key>public.kern2.straightquote</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.g</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>0</integer>
      <key>public.kern2.Y</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.i</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.j</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>0</integer>
      <key>public.kern2.U</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.k</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>0</integer>
      <key>public.kern2.U</key>
      <integer>0</integer>
      <key>public.kern2.W</key>
      <integer>0</integer>
      <key>public.kern2.Y</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>0</integer>
      <key>public.kern2.U</key>
      <integer>0</integer>
      <key>public.kern2.W</key>
      <integer>0</integer>
      <key>public.kern2.Y</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>0</integer>
      <key>public.kern2.U</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.period</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>0</integer>
      <key>public.kern2.AE</key>
      <integer>0</integer>
      <key>public.kern2.J</key>
      <integer>0</integer>
      <key>public.kern2.T</key>
      <integer>0</integer>
      <key>public.kern2.U</key>
      <integer>0</integer>
      <key>public.kern2.W</key>
      <integer>0</integer>
      <key>public.kern2.Y</key>
      <integer>0</integer>
      <key>public.kern2.w</key>
      <integer>0</integer>
      <key>public.kern2.y</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2.W</key>
      <integer>0</integer>
      <key>public.kern2.Y</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.s</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>0</integer>
      <key>public.kern2.U</key>
      <integer>0</integer>
      <key>public.kern2.Y</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.straightquote</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>0</integer>
      <key>public.kern2.U</key>
      <integer>0</integer>
      <key>public.kern2.W</key>
      <integer>0</integer>
      <key>public.kern2.d</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.t</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.u</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>0</integer>
      <key>public.kern2.U</key>
      <integer>0</integer>
      <key>public.kern2.W</key>
      <integer>0</integer>
      <key>public.kern2.Y</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.w</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>0</integer>
      <key>public.kern2.U</key>
      <integer>0</integer>
      <key>public.kern2.Y</key>
      <integer>0</integer>
      <key>public.kern2.period</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.y</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>0</integer>
      <key>public.kern2.U</key>
      <integer>0</integer>
      <key>public.kern2.Y</key>
      <integer>0</integer>
      <key>public.kern2.period</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.z</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>0</integer>
      <key>public.kern2.Y</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
