<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>b-deva</key>
	<dict>
		<key>@MMK_R_pa-deva</key>
		<real>-3.4545454978942871</real>
	</dict>
	<key>b_r-deva</key>
	<dict>
		<key>@MMK_R_pa-deva</key>
		<real>-3.3636364936828613</real>
	</dict>
	<key>bh-deva</key>
	<dict>
		<key>@MMK_R_pa-deva</key>
		<real>-2.7272727489471436</real>
	</dict>
	<key>c-deva</key>
	<dict>
		<key>@MMK_R_pa-deva</key>
		<real>-3.9090909957885742</real>
	</dict>
	<key>dh-deva</key>
	<dict>
		<key>@MMK_R_pa-deva</key>
		<real>-3.6363637447357178</real>
	</dict>
	<key>f-deva</key>
	<dict>
		<key>@MMK_R_pa-deva</key>
		<real>-3.1818182468414307</real>
	</dict>
	<key>gh-deva</key>
	<dict>
		<key>@MMK_R_pa-deva</key>
		<real>-4.5454545021057129</real>
	</dict>
	<key>h-deva</key>
	<dict>
		<key>@MMK_R_pa-deva</key>
		<real>-3.6363637447357178</real>
	</dict>
	<key>jh-deva</key>
	<dict>
		<key>@MMK_R_pa-deva</key>
		<real>-2.6363637447357178</real>
	</dict>
	<key>jh-deva.np</key>
	<dict>
		<key>@MMK_R_pa-deva</key>
		<real>-3.0909092426300049</real>
	</dict>
	<key>k-deva</key>
	<dict>
		<key>@MMK_R_pa-deva</key>
		<real>-3.7272727489471436</real>
	</dict>
	<key>kh-deva</key>
	<dict>
		<key>@MMK_R_pa-deva</key>
		<real>-31.454545974731445</real>
	</dict>
	<key>khh-deva</key>
	<dict>
		<key>@MMK_R_pa-deva</key>
		<real>-31.636363983154297</real>
	</dict>
	<key>l-deva</key>
	<dict>
		<key>@MMK_R_pa-deva</key>
		<real>-4.0909090042114258</real>
	</dict>
	<key>m-deva</key>
	<dict>
		<key>@MMK_R_pa-deva</key>
		<real>-1.8181818723678589</real>
	</dict>
	<key>n-deva</key>
	<dict>
		<key>@MMK_R_pa-deva</key>
		<real>-1.8181818723678589</real>
	</dict>
	<key>ny-deva</key>
	<dict>
		<key>@MMK_R_pa-deva</key>
		<integer>-1</integer>
	</dict>
	<key>p-deva</key>
	<dict>
		<key>@MMK_R_pa-deva</key>
		<real>-2.7272727489471436</real>
	</dict>
	<key>ph-deva</key>
	<dict>
		<key>@MMK_R_pa-deva</key>
		<integer>-3</integer>
	</dict>
	<key>s-deva</key>
	<dict>
		<key>@MMK_R_pa-deva</key>
		<real>-2.7272727489471436</real>
	</dict>
	<key>ss-deva</key>
	<dict>
		<key>@MMK_R_pa-deva</key>
		<real>-3.6363637447357178</real>
	</dict>
	<key>t_r-deva</key>
	<dict>
		<key>@MMK_R_pa-deva</key>
		<real>-1.8181818723678589</real>
	</dict>
	<key>th-deva</key>
	<dict>
		<key>@MMK_R_pa-deva</key>
		<real>-3.6363637447357178</real>
	</dict>
	<key>v-deva</key>
	<dict>
		<key>@MMK_R_pa-deva</key>
		<real>-12.363636016845703</real>
	</dict>
	<key>y-deva</key>
	<dict>
		<key>@MMK_R_pa-deva</key>
		<real>-3.6363637447357178</real>
	</dict>
</dict>
</plist>
