<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_pa-deva</key>
	<array>
		<string>pa-deva</string>
	</array>
	<key>@MMK_R_pa-deva</key>
	<array>
		<string>pa-deva</string>
		<string>pha-deva</string>
		<string>ssa-deva</string>
		<string>pa_ta-deva</string>
		<string>pa_ra-deva</string>
		<string>p_tta-deva</string>
		<string>p_la-deva</string>
		<string>pha_ra-deva</string>
		<string>pha_ra_nukta-deva</string>
		<string>ph_la-deva</string>
		<string>ssa_ra-deva</string>
		<string>ss_tta-deva</string>
		<string>ss_ttha-deva</string>
		<string>p-deva</string>
		<string>ph-deva</string>
		<string>ss-deva</string>
		<string>f-deva</string>
	</array>
</dict>
</plist>
