<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>exclam</key>
    <dict>
      <key>public.kern2.W</key>
      <real>-4.6913580246913575</real>
      <key>public.kern2.d</key>
      <real>-21.111111111111107</real>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>public.kern2.colon</key>
      <real>4.6913580246913575</real>
      <key>public.kern2.period</key>
      <real>4.6913580246913575</real>
      <key>space</key>
      <real>-4.6913580246913575</real>
    </dict>
    <key>public.kern1.C</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-2.3456790123456788</real>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>public.kern2.a</key>
      <real>-18.76543209876543</real>
      <key>public.kern2.c</key>
      <real>-9.382716049382715</real>
      <key>public.kern2.colon</key>
      <real>-4.6913580246913575</real>
      <key>public.kern2.d</key>
      <real>-9.382716049382715</real>
      <key>public.kern2.e</key>
      <real>-7.037037037037035</real>
      <key>public.kern2.g</key>
      <real>-9.382716049382715</real>
      <key>public.kern2.j</key>
      <real>-2.3456790123456788</real>
      <key>public.kern2.n</key>
      <real>-9.382716049382715</real>
      <key>public.kern2.o</key>
      <real>-14.07407407407407</real>
      <key>public.kern2.p</key>
      <real>-9.382716049382715</real>
      <key>public.kern2.period</key>
      <real>-35.185185185185176</real>
      <key>public.kern2.q</key>
      <real>-14.07407407407407</real>
      <key>public.kern2.s</key>
      <real>-7.037037037037035</real>
      <key>public.kern2.t</key>
      <real>-2.3456790123456788</real>
      <key>public.kern2.u</key>
      <real>-9.382716049382715</real>
      <key>public.kern2.w</key>
      <real>-4.6913580246913575</real>
      <key>public.kern2.y</key>
      <real>-4.6913580246913575</real>
      <key>public.kern2.z</key>
      <real>-7.037037037037035</real>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.C</key>
      <real>-11.728395061728394</real>
      <key>public.kern2.O</key>
      <real>-11.728395061728394</real>
      <key>public.kern2.S</key>
      <real>-4.6913580246913575</real>
      <key>public.kern2.T</key>
      <real>-37.53086419753086</real>
      <key>public.kern2.W</key>
      <real>-25.802469135802465</real>
      <key>public.kern2.Y</key>
      <real>-25.802469135802465</real>
      <key>public.kern2.a</key>
      <real>-11.728395061728394</real>
      <key>public.kern2.c</key>
      <real>-9.382716049382715</real>
      <key>public.kern2.colon</key>
      <real>-4.6913580246913575</real>
      <key>public.kern2.d</key>
      <real>-11.728395061728394</real>
      <key>public.kern2.e</key>
      <real>-9.382716049382715</real>
      <key>public.kern2.g</key>
      <real>-9.382716049382715</real>
      <key>public.kern2.i</key>
      <real>-4.6913580246913575</real>
      <key>public.kern2.j</key>
      <real>-7.037037037037035</real>
      <key>public.kern2.n</key>
      <real>-9.382716049382715</real>
      <key>public.kern2.o</key>
      <real>-9.382716049382715</real>
      <key>public.kern2.p</key>
      <real>-4.6913580246913575</real>
      <key>public.kern2.period</key>
      <real>11.728395061728394</real>
      <key>public.kern2.q</key>
      <real>-4.6913580246913575</real>
      <key>public.kern2.s</key>
      <real>-9.382716049382715</real>
      <key>public.kern2.straightquote</key>
      <real>-39.87654320987654</real>
      <key>public.kern2.t</key>
      <real>-11.728395061728394</real>
      <key>public.kern2.u</key>
      <real>-9.382716049382715</real>
      <key>public.kern2.w</key>
      <real>-25.802469135802465</real>
      <key>public.kern2.y</key>
      <real>-28.14814814814814</real>
      <key>public.kern2.z</key>
      <real>-4.6913580246913575</real>
      <key>space</key>
      <real>-14.07407407407407</real>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-4.6913580246913575</real>
      <key>public.kern2.W</key>
      <real>4.6913580246913575</real>
      <key>public.kern2.Y</key>
      <real>4.6913580246913575</real>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>public.kern2.a</key>
      <real>-18.76543209876543</real>
      <key>public.kern2.c</key>
      <real>-18.76543209876543</real>
      <key>public.kern2.d</key>
      <real>-18.76543209876543</real>
      <key>public.kern2.e</key>
      <real>-18.76543209876543</real>
      <key>public.kern2.g</key>
      <real>-23.456790123456788</real>
      <key>public.kern2.i</key>
      <real>-7.037037037037035</real>
      <key>public.kern2.j</key>
      <real>-7.037037037037035</real>
      <key>public.kern2.n</key>
      <real>-18.76543209876543</real>
      <key>public.kern2.o</key>
      <real>-18.76543209876543</real>
      <key>public.kern2.p</key>
      <real>-16.41975308641975</real>
      <key>public.kern2.period</key>
      <real>-49.25925925925925</real>
      <key>public.kern2.q</key>
      <real>-16.41975308641975</real>
      <key>public.kern2.s</key>
      <real>-14.07407407407407</real>
      <key>public.kern2.u</key>
      <real>-16.41975308641975</real>
      <key>public.kern2.w</key>
      <real>-7.037037037037035</real>
      <key>public.kern2.y</key>
      <real>-4.6913580246913575</real>
      <key>public.kern2.z</key>
      <real>-11.728395061728394</real>
      <key>space</key>
      <real>-11.728395061728394</real>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>public.kern2.C</key>
      <real>-11.728395061728394</real>
      <key>public.kern2.O</key>
      <real>-11.728395061728394</real>
      <key>public.kern2.a</key>
      <real>-32.8395061728395</real>
      <key>public.kern2.c</key>
      <real>-32.8395061728395</real>
      <key>public.kern2.colon</key>
      <real>-11.728395061728394</real>
      <key>public.kern2.d</key>
      <real>-32.8395061728395</real>
      <key>public.kern2.e</key>
      <real>-32.8395061728395</real>
      <key>public.kern2.g</key>
      <real>-32.8395061728395</real>
      <key>public.kern2.i</key>
      <real>-9.382716049382715</real>
      <key>public.kern2.j</key>
      <real>-9.382716049382715</real>
      <key>public.kern2.n</key>
      <real>-28.14814814814814</real>
      <key>public.kern2.o</key>
      <real>-32.8395061728395</real>
      <key>public.kern2.p</key>
      <real>-28.14814814814814</real>
      <key>public.kern2.period</key>
      <real>-42.222222222222214</real>
      <key>public.kern2.q</key>
      <real>-32.8395061728395</real>
      <key>public.kern2.s</key>
      <real>-30.493827160493822</real>
      <key>public.kern2.t</key>
      <real>-11.728395061728394</real>
      <key>public.kern2.u</key>
      <real>-28.14814814814814</real>
      <key>public.kern2.w</key>
      <real>-28.14814814814814</real>
      <key>public.kern2.y</key>
      <real>-28.14814814814814</real>
      <key>public.kern2.z</key>
      <real>-28.14814814814814</real>
      <key>space</key>
      <real>-7.037037037037035</real>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>public.kern2.a</key>
      <real>-14.07407407407407</real>
      <key>public.kern2.c</key>
      <real>-4.6913580246913575</real>
      <key>public.kern2.colon</key>
      <real>-4.6913580246913575</real>
      <key>public.kern2.d</key>
      <real>-9.382716049382715</real>
      <key>public.kern2.e</key>
      <real>-4.6913580246913575</real>
      <key>public.kern2.g</key>
      <real>-4.6913580246913575</real>
      <key>public.kern2.i</key>
      <real>-2.3456790123456788</real>
      <key>public.kern2.j</key>
      <real>-2.3456790123456788</real>
      <key>public.kern2.n</key>
      <real>-7.037037037037035</real>
      <key>public.kern2.o</key>
      <real>-7.037037037037035</real>
      <key>public.kern2.p</key>
      <real>-7.037037037037035</real>
      <key>public.kern2.period</key>
      <real>-28.14814814814814</real>
      <key>public.kern2.q</key>
      <real>-7.037037037037035</real>
      <key>public.kern2.s</key>
      <real>-7.037037037037035</real>
      <key>public.kern2.t</key>
      <real>-4.6913580246913575</real>
      <key>public.kern2.u</key>
      <real>-9.382716049382715</real>
      <key>public.kern2.w</key>
      <real>-7.037037037037035</real>
      <key>public.kern2.y</key>
      <real>-7.037037037037035</real>
      <key>public.kern2.z</key>
      <real>-9.382716049382715</real>
    </dict>
    <key>public.kern1.W</key>
    <dict>
      <key>exclam</key>
      <real>-4.6913580246913575</real>
      <key>public.kern2.O</key>
      <real>-4.6913580246913575</real>
      <key>public.kern2.a</key>
      <real>-16.41975308641975</real>
      <key>public.kern2.c</key>
      <real>-7.037037037037035</real>
      <key>public.kern2.colon</key>
      <real>-2.3456790123456788</real>
      <key>public.kern2.d</key>
      <real>-9.382716049382715</real>
      <key>public.kern2.e</key>
      <real>-7.037037037037035</real>
      <key>public.kern2.g</key>
      <real>-4.6913580246913575</real>
      <key>public.kern2.n</key>
      <real>-2.3456790123456788</real>
      <key>public.kern2.o</key>
      <real>-7.037037037037035</real>
      <key>public.kern2.p</key>
      <real>-2.3456790123456788</real>
      <key>public.kern2.period</key>
      <real>-23.456790123456788</real>
      <key>public.kern2.q</key>
      <real>-4.6913580246913575</real>
      <key>public.kern2.s</key>
      <real>-2.3456790123456788</real>
      <key>public.kern2.straightquote</key>
      <real>-4.6913580246913575</real>
      <key>public.kern2.u</key>
      <real>-4.6913580246913575</real>
      <key>public.kern2.w</key>
      <real>-2.3456790123456788</real>
      <key>public.kern2.y</key>
      <real>-2.3456790123456788</real>
      <key>public.kern2.z</key>
      <real>-4.6913580246913575</real>
      <key>question</key>
      <real>-2.3456790123456788</real>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>bracketright</key>
      <real>4.6913580246913575</real>
      <key>parenright</key>
      <real>4.6913580246913575</real>
      <key>public.kern2.O</key>
      <real>-7.037037037037035</real>
      <key>public.kern2.a</key>
      <real>-21.111111111111107</real>
      <key>public.kern2.c</key>
      <real>-16.41975308641975</real>
      <key>public.kern2.colon</key>
      <real>-7.037037037037035</real>
      <key>public.kern2.curlybrace</key>
      <real>4.6913580246913575</real>
      <key>public.kern2.d</key>
      <real>-16.41975308641975</real>
      <key>public.kern2.e</key>
      <real>-16.41975308641975</real>
      <key>public.kern2.g</key>
      <real>-16.41975308641975</real>
      <key>public.kern2.n</key>
      <real>-7.037037037037035</real>
      <key>public.kern2.o</key>
      <real>-16.41975308641975</real>
      <key>public.kern2.p</key>
      <real>-7.037037037037035</real>
      <key>public.kern2.period</key>
      <real>-37.53086419753086</real>
      <key>public.kern2.q</key>
      <real>-18.76543209876543</real>
      <key>public.kern2.s</key>
      <real>-9.382716049382715</real>
      <key>public.kern2.t</key>
      <real>-2.3456790123456788</real>
      <key>public.kern2.u</key>
      <real>-9.382716049382715</real>
      <key>public.kern2.w</key>
      <real>-4.6913580246913575</real>
      <key>public.kern2.y</key>
      <real>-4.6913580246913575</real>
      <key>public.kern2.z</key>
      <real>-11.728395061728394</real>
    </dict>
    <key>public.kern1.a</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-4.6913580246913575</real>
      <key>public.kern2.U</key>
      <real>-4.6913580246913575</real>
      <key>public.kern2.W</key>
      <real>-4.6913580246913575</real>
      <key>public.kern2.Y</key>
      <real>-7.037037037037035</real>
    </dict>
    <key>public.kern1.b</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-25.802469135802465</real>
      <key>public.kern2.U</key>
      <real>-2.3456790123456788</real>
      <key>public.kern2.W</key>
      <real>-7.037037037037035</real>
      <key>public.kern2.Y</key>
      <real>-14.07407407407407</real>
    </dict>
    <key>public.kern1.c</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-11.728395061728394</real>
      <key>public.kern2.U</key>
      <real>-2.3456790123456788</real>
      <key>public.kern2.W</key>
      <real>-2.3456790123456788</real>
      <key>public.kern2.Y</key>
      <real>-7.037037037037035</real>
      <key>public.kern2.colon</key>
      <real>2.3456790123456788</real>
      <key>public.kern2.period</key>
      <real>4.6913580246913575</real>
      <key>space</key>
      <real>-2.3456790123456788</real>
    </dict>
    <key>public.kern1.colon</key>
    <dict>
      <key>public.kern2.A</key>
      <real>4.6913580246913575</real>
      <key>public.kern2.T</key>
      <real>-16.41975308641975</real>
      <key>public.kern2.U</key>
      <real>-2.3456790123456788</real>
      <key>public.kern2.W</key>
      <real>-2.3456790123456788</real>
      <key>public.kern2.Y</key>
      <real>-2.3456790123456788</real>
    </dict>
    <key>public.kern1.curlquote</key>
    <dict>
      <key>public.kern2.O</key>
      <real>-16.41975308641975</real>
      <key>public.kern2.U</key>
      <real>-4.6913580246913575</real>
      <key>public.kern2.d</key>
      <real>-21.111111111111107</real>
    </dict>
    <key>public.kern1.e</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-11.728395061728394</real>
      <key>public.kern2.U</key>
      <real>-2.3456790123456788</real>
      <key>public.kern2.W</key>
      <real>-4.6913580246913575</real>
      <key>public.kern2.Y</key>
      <real>-9.382716049382715</real>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>bracketright</key>
      <real>21.111111111111107</real>
      <key>exclam</key>
      <real>2.3456790123456788</real>
      <key>parenright</key>
      <real>21.111111111111107</real>
      <key>public.kern2.curlybrace</key>
      <real>21.111111111111107</real>
      <key>public.kern2.curlyquotes</key>
      <real>14.07407407407407</real>
      <key>public.kern2.straightquote</key>
      <real>4.6913580246913575</real>
      <key>question</key>
      <real>4.6913580246913575</real>
    </dict>
    <key>public.kern1.g</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-16.41975308641975</real>
      <key>public.kern2.Y</key>
      <real>-2.3456790123456788</real>
    </dict>
    <key>public.kern1.i</key>
    <dict>
      <key>public.kern2.Y</key>
      <real>-4.6913580246913575</real>
    </dict>
    <key>public.kern1.j</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-14.07407407407407</real>
      <key>public.kern2.U</key>
      <real>-4.6913580246913575</real>
    </dict>
    <key>public.kern1.k</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-25.802469135802465</real>
      <key>public.kern2.U</key>
      <real>-16.41975308641975</real>
      <key>public.kern2.W</key>
      <real>-11.728395061728394</real>
      <key>public.kern2.Y</key>
      <real>-14.07407407407407</real>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-28.14814814814814</real>
      <key>public.kern2.U</key>
      <real>-16.41975308641975</real>
      <key>public.kern2.W</key>
      <real>-7.037037037037035</real>
      <key>public.kern2.Y</key>
      <real>-9.382716049382715</real>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-2.3456790123456788</real>
      <key>public.kern2.U</key>
      <real>-2.3456790123456788</real>
    </dict>
    <key>public.kern1.period</key>
    <dict>
      <key>public.kern2.A</key>
      <real>4.6913580246913575</real>
      <key>public.kern2.AE</key>
      <real>9.382716049382715</real>
      <key>public.kern2.J</key>
      <real>4.6913580246913575</real>
      <key>public.kern2.T</key>
      <real>-35.185185185185176</real>
      <key>public.kern2.U</key>
      <real>-16.41975308641975</real>
      <key>public.kern2.W</key>
      <real>-25.802469135802465</real>
      <key>public.kern2.Y</key>
      <real>-35.185185185185176</real>
      <key>public.kern2.w</key>
      <real>-16.41975308641975</real>
      <key>public.kern2.y</key>
      <real>-16.41975308641975</real>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2.W</key>
      <real>2.3456790123456788</real>
      <key>public.kern2.Y</key>
      <real>2.3456790123456788</real>
    </dict>
    <key>public.kern1.s</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-14.07407407407407</real>
      <key>public.kern2.U</key>
      <real>-2.3456790123456788</real>
      <key>public.kern2.Y</key>
      <real>-4.6913580246913575</real>
    </dict>
    <key>public.kern1.straightquote</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-2.3456790123456788</real>
      <key>public.kern2.U</key>
      <real>-14.07407407407407</real>
      <key>public.kern2.W</key>
      <real>-4.6913580246913575</real>
      <key>public.kern2.d</key>
      <real>-21.111111111111107</real>
    </dict>
    <key>public.kern1.t</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-9.382716049382715</real>
    </dict>
    <key>public.kern1.u</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-4.6913580246913575</real>
      <key>public.kern2.U</key>
      <real>-2.3456790123456788</real>
      <key>public.kern2.W</key>
      <real>-2.3456790123456788</real>
      <key>public.kern2.Y</key>
      <real>-2.3456790123456788</real>
    </dict>
    <key>public.kern1.w</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-18.76543209876543</real>
      <key>public.kern2.U</key>
      <real>-4.6913580246913575</real>
      <key>public.kern2.Y</key>
      <real>-2.3456790123456788</real>
      <key>public.kern2.period</key>
      <real>-16.41975308641975</real>
      <key>space</key>
      <real>-7.037037037037035</real>
    </dict>
    <key>public.kern1.y</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-11.728395061728394</real>
      <key>public.kern2.U</key>
      <real>-4.6913580246913575</real>
      <key>public.kern2.Y</key>
      <real>-4.6913580246913575</real>
      <key>public.kern2.period</key>
      <real>-21.111111111111107</real>
      <key>space</key>
      <real>-7.037037037037035</real>
    </dict>
    <key>public.kern1.z</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-9.382716049382715</real>
      <key>public.kern2.Y</key>
      <real>-2.3456790123456788</real>
    </dict>
    <key>question</key>
    <dict>
      <key>public.kern2.W</key>
      <real>-2.3456790123456788</real>
      <key>public.kern2.d</key>
      <real>-21.111111111111107</real>
    </dict>
    <key>space</key>
    <dict>
      <key>public.kern2.AE</key>
      <real>-9.382716049382715</real>
      <key>public.kern2.J</key>
      <real>-14.07407407407407</real>
      <key>public.kern2.T</key>
      <real>-7.037037037037035</real>
      <key>public.kern2.c</key>
      <real>-2.3456790123456788</real>
      <key>public.kern2.w</key>
      <real>-7.037037037037035</real>
      <key>public.kern2.y</key>
      <real>-7.037037037037035</real>
    </dict>
  </dict>
</plist>
