<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>C4389747-BECF-4D47-A11A-92B8AD605B66</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<integer>1</integer>
	<key>com.schriftgestaltung.weight</key>
	<string>Bold</string>
	<key>com.schriftgestaltung.weightValue</key>
	<real>240.0</real>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>AEacute</string>
		<string>B</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>F</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcaron</string>
		<string>Gcircumflex</string>
		<string>Gdotaccent</string>
		<string>H</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>I</string>
		<string>IJ</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>K</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohorn</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>P</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scircumflex</string>
		<string>uni1E9E</string>
		<string>uni018F</string>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhorn</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>uni0122</string>
		<string>uni012C</string>
		<string>uni0136</string>
		<string>uni013B</string>
		<string>uni0145</string>
		<string>uni014E</string>
		<string>uni0156</string>
		<string>uni015E</string>
		<string>uni0162</string>
		<string>uni01C4</string>
		<string>uni01C5</string>
		<string>uni01C7</string>
		<string>uni01C8</string>
		<string>uni01CA</string>
		<string>uni01CB</string>
		<string>uni01CD</string>
		<string>uni01CF</string>
		<string>uni01D1</string>
		<string>uni01D3</string>
		<string>uni01D5</string>
		<string>uni01D7</string>
		<string>uni01D9</string>
		<string>uni01DB</string>
		<string>uni01EA</string>
		<string>uni01F1</string>
		<string>uni01F2</string>
		<string>uni0218</string>
		<string>uni021A</string>
		<string>uni0243</string>
		<string>uni1E02</string>
		<string>uni1E0A</string>
		<string>uni1E0C</string>
		<string>uni1E0E</string>
		<string>uni1E1E</string>
		<string>uni1E20</string>
		<string>uni1E24</string>
		<string>uni1E2A</string>
		<string>uni1E36</string>
		<string>uni1E38</string>
		<string>uni1E3A</string>
		<string>uni1E40</string>
		<string>uni1E42</string>
		<string>uni1E44</string>
		<string>uni1E46</string>
		<string>uni1E48</string>
		<string>uni1E56</string>
		<string>uni1E5A</string>
		<string>uni1E5C</string>
		<string>uni1E5E</string>
		<string>uni1E60</string>
		<string>uni1E62</string>
		<string>uni1E6A</string>
		<string>uni1E6C</string>
		<string>uni1E6E</string>
		<string>uni1E8E</string>
		<string>uni1E92</string>
		<string>uni1EA0</string>
		<string>uni1EA2</string>
		<string>uni1EA4</string>
		<string>uni1EA6</string>
		<string>uni1EA8</string>
		<string>uni1EAA</string>
		<string>uni1EAC</string>
		<string>uni1EAE</string>
		<string>uni1EB0</string>
		<string>uni1EB2</string>
		<string>uni1EB4</string>
		<string>uni1EB6</string>
		<string>uni1EB8</string>
		<string>uni1EBA</string>
		<string>uni1EBC</string>
		<string>uni1EBE</string>
		<string>uni1EC0</string>
		<string>uni1EC2</string>
		<string>uni1EC4</string>
		<string>uni1EC6</string>
		<string>uni1EC8</string>
		<string>uni1ECA</string>
		<string>uni1ECC</string>
		<string>uni1ECE</string>
		<string>uni1ED0</string>
		<string>uni1ED2</string>
		<string>uni1ED4</string>
		<string>uni1ED6</string>
		<string>uni1ED8</string>
		<string>uni1EDA</string>
		<string>uni1EDC</string>
		<string>uni1EDE</string>
		<string>uni1EE0</string>
		<string>uni1EE2</string>
		<string>uni1EE4</string>
		<string>uni1EE6</string>
		<string>uni1EE8</string>
		<string>uni1EEA</string>
		<string>uni1EEC</string>
		<string>uni1EEE</string>
		<string>uni1EF0</string>
		<string>uni1EF4</string>
		<string>uni1EF6</string>
		<string>uni1EF8</string>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
		<string>aeacute</string>
		<string>b</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>e</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>f</string>
		<string>g</string>
		<string>gbreve</string>
		<string>gcaron</string>
		<string>gcircumflex</string>
		<string>gdotaccent</string>
		<string>h</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>ij</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>j</string>
		<string>dotlessj</string>
		<string>jcircumflex</string>
		<string>k</string>
		<string>kgreenlandic</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>ldot</string>
		<string>lslash</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>napostrophe</string>
		<string>ncaron</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohorn</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>thorn</string>
		<string>q</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scircumflex</string>
		<string>germandbls</string>
		<string>uni0259</string>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhorn</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uni0123</string>
		<string>uni012D</string>
		<string>uni0137</string>
		<string>uni013C</string>
		<string>uni0146</string>
		<string>uni014F</string>
		<string>uni0157</string>
		<string>uni015F</string>
		<string>uni0163</string>
		<string>uni0180</string>
		<string>uni01C6</string>
		<string>uni01C9</string>
		<string>uni01CC</string>
		<string>uni01CE</string>
		<string>uni01D0</string>
		<string>uni01D2</string>
		<string>uni01D4</string>
		<string>uni01D6</string>
		<string>uni01D8</string>
		<string>uni01DA</string>
		<string>uni01DC</string>
		<string>uni01EB</string>
		<string>uni01F3</string>
		<string>uni0219</string>
		<string>uni021B</string>
		<string>uni1E03</string>
		<string>uni1E0B</string>
		<string>uni1E0D</string>
		<string>uni1E0F</string>
		<string>uni1E1F</string>
		<string>uni1E21</string>
		<string>uni1E25</string>
		<string>uni1E2B</string>
		<string>uni1E37</string>
		<string>uni1E39</string>
		<string>uni1E3B</string>
		<string>uni1E41</string>
		<string>uni1E43</string>
		<string>uni1E45</string>
		<string>uni1E47</string>
		<string>uni1E49</string>
		<string>uni1E57</string>
		<string>uni1E5B</string>
		<string>uni1E5D</string>
		<string>uni1E5F</string>
		<string>uni1E61</string>
		<string>uni1E63</string>
		<string>uni1E6B</string>
		<string>uni1E6D</string>
		<string>uni1E6F</string>
		<string>uni1E8F</string>
		<string>uni1E93</string>
		<string>uni1E97</string>
		<string>uni1EA1</string>
		<string>uni1EA3</string>
		<string>uni1EA5</string>
		<string>uni1EA7</string>
		<string>uni1EA9</string>
		<string>uni1EAB</string>
		<string>uni1EAD</string>
		<string>uni1EAF</string>
		<string>uni1EB1</string>
		<string>uni1EB3</string>
		<string>uni1EB5</string>
		<string>uni1EB7</string>
		<string>uni1EB9</string>
		<string>uni1EBB</string>
		<string>uni1EBD</string>
		<string>uni1EBF</string>
		<string>uni1EC1</string>
		<string>uni1EC3</string>
		<string>uni1EC5</string>
		<string>uni1EC7</string>
		<string>uni1EC9</string>
		<string>uni1ECB</string>
		<string>uni1ECD</string>
		<string>uni1ECF</string>
		<string>uni1ED1</string>
		<string>uni1ED3</string>
		<string>uni1ED5</string>
		<string>uni1ED7</string>
		<string>uni1ED9</string>
		<string>uni1EDB</string>
		<string>uni1EDD</string>
		<string>uni1EDF</string>
		<string>uni1EE1</string>
		<string>uni1EE3</string>
		<string>uni1EE5</string>
		<string>uni1EE7</string>
		<string>uni1EE9</string>
		<string>uni1EEB</string>
		<string>uni1EED</string>
		<string>uni1EEF</string>
		<string>uni1EF1</string>
		<string>uni1EF5</string>
		<string>uni1EF7</string>
		<string>uni1EF9</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>a.sups</string>
		<string>b.sups</string>
		<string>c.sups</string>
		<string>d.sups</string>
		<string>e.sups</string>
		<string>eacute.sups</string>
		<string>egrave.sups</string>
		<string>f.sups</string>
		<string>g.sups</string>
		<string>h.sups</string>
		<string>i.sups</string>
		<string>j.sups</string>
		<string>k.sups</string>
		<string>l.sups</string>
		<string>m.sups</string>
		<string>n.sups</string>
		<string>o.sups</string>
		<string>p.sups</string>
		<string>q.sups</string>
		<string>r.sups</string>
		<string>s.sups</string>
		<string>uni0259.sups</string>
		<string>t.sups</string>
		<string>u.sups</string>
		<string>v.sups</string>
		<string>w.sups</string>
		<string>x.sups</string>
		<string>y.sups</string>
		<string>z.sups</string>
		<string>G_tildecomb</string>
		<string>f_f</string>
		<string>f_t</string>
		<string>fi</string>
		<string>fl</string>
		<string>g_tildecomb</string>
		<string>r_ra-deva</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>pi</string>
		<string>aShort-deva</string>
		<string>aCandra-deva</string>
		<string>a-deva</string>
		<string>aa-deva</string>
		<string>i-deva</string>
		<string>ii-deva</string>
		<string>u-deva</string>
		<string>uu-deva</string>
		<string>rVocalic-deva</string>
		<string>rrVocalic-deva</string>
		<string>lVocalic-deva</string>
		<string>llVocalic-deva</string>
		<string>eCandra-deva</string>
		<string>eShort-deva</string>
		<string>e-deva</string>
		<string>ai-deva</string>
		<string>oCandra-deva</string>
		<string>oShort-deva</string>
		<string>o-deva</string>
		<string>au-deva</string>
		<string>oe-deva</string>
		<string>ooe-deva</string>
		<string>aw-deva</string>
		<string>ue-deva</string>
		<string>uue-deva</string>
		<string>aaMatra-deva</string>
		<string>iMatra-deva</string>
		<string>iMatra_reph-deva</string>
		<string>iMatra_reph_anusvara-deva</string>
		<string>iMatra_anusvara-deva</string>
		<string>iiMatra-deva</string>
		<string>iiMatra_reph-deva</string>
		<string>iiMatra_reph_anusvara-deva</string>
		<string>oCandraMatra-deva</string>
		<string>oShortMatra-deva</string>
		<string>oMatra-deva</string>
		<string>oMatra_reph_anusvara-deva</string>
		<string>oMatra_reph-deva</string>
		<string>oMatra_anusvara-deva</string>
		<string>auMatra-deva</string>
		<string>auMatra_reph-deva</string>
		<string>auMatra_reph_anusvara-deva</string>
		<string>prishthaMatraE-deva</string>
		<string>ooeMatra-deva</string>
		<string>awMatra-deva</string>
		<string>iMatra-deva.0</string>
		<string>iMatra_reph-deva.0</string>
		<string>iMatra_reph_anusvara-deva.0</string>
		<string>iMatra-deva.01</string>
		<string>iMatra-deva.02</string>
		<string>iMatra-deva.03</string>
		<string>iMatra-deva.05</string>
		<string>iMatra-deva.08</string>
		<string>iMatra-deva.10</string>
		<string>iMatra-deva.15</string>
		<string>iMatra-deva.20</string>
		<string>iMatra-deva.25</string>
		<string>iMatra-deva.30</string>
		<string>iMatra-deva.35</string>
		<string>iMatra_reph-deva.01</string>
		<string>iMatra_reph-deva.02</string>
		<string>iMatra_reph-deva.03</string>
		<string>iMatra_reph-deva.05</string>
		<string>iMatra_reph-deva.08</string>
		<string>iMatra_reph-deva.10</string>
		<string>iMatra_reph-deva.15</string>
		<string>iMatra_reph-deva.20</string>
		<string>iMatra_reph-deva.25</string>
		<string>iMatra_reph-deva.30</string>
		<string>iMatra_reph-deva.35</string>
		<string>iMatra_reph_anusvara-deva.01</string>
		<string>iMatra_reph_anusvara-deva.02</string>
		<string>iMatra_reph_anusvara-deva.03</string>
		<string>iMatra_reph_anusvara-deva.05</string>
		<string>iMatra_reph_anusvara-deva.08</string>
		<string>iMatra_reph_anusvara-deva.10</string>
		<string>iMatra_reph_anusvara-deva.15</string>
		<string>iMatra_reph_anusvara-deva.20</string>
		<string>iMatra_reph_anusvara-deva.25</string>
		<string>iMatra_reph_anusvara-deva.30</string>
		<string>iMatra_reph_anusvara-deva.35</string>
		<string>iiMatra-deva.02</string>
		<string>iiMatra_reph-deva.02</string>
		<string>iiMatra_reph_anusvara-deva.02</string>
		<string>ka-deva</string>
		<string>kha-deva</string>
		<string>ga-deva</string>
		<string>gha-deva</string>
		<string>nga-deva</string>
		<string>ca-deva</string>
		<string>cha-deva</string>
		<string>ja-deva</string>
		<string>jha-deva</string>
		<string>nya-deva</string>
		<string>tta-deva</string>
		<string>ttha-deva</string>
		<string>dda-deva</string>
		<string>ddha-deva</string>
		<string>nna-deva</string>
		<string>ta-deva</string>
		<string>tha-deva</string>
		<string>da-deva</string>
		<string>dha-deva</string>
		<string>na-deva</string>
		<string>nnna-deva</string>
		<string>pa-deva</string>
		<string>pha-deva</string>
		<string>ba-deva</string>
		<string>bha-deva</string>
		<string>ma-deva</string>
		<string>ya-deva</string>
		<string>ra-deva</string>
		<string>rra-deva</string>
		<string>la-deva</string>
		<string>lla-deva</string>
		<string>llla-deva</string>
		<string>va-deva</string>
		<string>sha-deva</string>
		<string>ssa-deva</string>
		<string>sa-deva</string>
		<string>ha-deva</string>
		<string>qa-deva</string>
		<string>khha-deva</string>
		<string>ghha-deva</string>
		<string>za-deva</string>
		<string>dddha-deva</string>
		<string>rha-deva</string>
		<string>fa-deva</string>
		<string>yya-deva</string>
		<string>zha-deva</string>
		<string>jjya-deva</string>
		<string>gga-deva</string>
		<string>jja-deva</string>
		<string>ddda-deva</string>
		<string>bba-deva</string>
		<string>la-deva.loclMAR</string>
		<string>sha-deva.loclMAR</string>
		<string>jha-deva.np</string>
		<string>zha-deva.np</string>
		<string>ya-deva.post</string>
		<string>va-deva.post</string>
		<string>na-deva.post2</string>
		<string>sha-deva.ss02</string>
		<string>ka_ra-deva</string>
		<string>k_ka-deva</string>
		<string>k_ca-deva</string>
		<string>k_ta-deva</string>
		<string>k_t_ta-deva</string>
		<string>k_t_ya-deva</string>
		<string>k_t_ra-deva</string>
		<string>k_la-deva</string>
		<string>k_va-deva</string>
		<string>k_ssa-deva</string>
		<string>k_ssa_ra-deva</string>
		<string>kha_ra-deva</string>
		<string>kh_kha-deva</string>
		<string>kh_na-deva</string>
		<string>kh_ma-deva</string>
		<string>kh_ya-deva</string>
		<string>kh_ra-deva</string>
		<string>kh_sha-deva</string>
		<string>ga_na-deva</string>
		<string>ga_ra-deva</string>
		<string>g_r_ya-deva</string>
		<string>gha_ra-deva</string>
		<string>gh_h-deva</string>
		<string>ng_ka-deva</string>
		<string>ng_k_ssa-deva</string>
		<string>ng_kha-deva</string>
		<string>ng_ga-deva</string>
		<string>ng_gha-deva</string>
		<string>ng_ma-deva</string>
		<string>ca_ca-deva</string>
		<string>ca_ra-deva</string>
		<string>ch_va-deva</string>
		<string>ja_nya_ra-deva</string>
		<string>ja_ra-deva</string>
		<string>j_ja-deva</string>
		<string>j_j_nya-deva</string>
		<string>j_j_ya-deva</string>
		<string>j_j_va-deva</string>
		<string>j_nya-deva</string>
		<string>j_ny_ya-deva</string>
		<string>j_tta-deva</string>
		<string>j_ta-deva</string>
		<string>j_da-deva</string>
		<string>j_na-deva</string>
		<string>j_ya-deva</string>
		<string>j_ra-deva</string>
		<string>jha_ra-deva</string>
		<string>nya_ra-deva</string>
		<string>ny_ca-deva</string>
		<string>ny_ja-deva</string>
		<string>tt_tta-deva</string>
		<string>tt_ttha-deva</string>
		<string>tt_ddha-deva</string>
		<string>tt_na-deva</string>
		<string>tt_ya-deva</string>
		<string>tt_va-deva</string>
		<string>tth_ttha-deva</string>
		<string>tth_na-deva</string>
		<string>tth_ya-deva</string>
		<string>dd_gha-deva</string>
		<string>dd_tta-deva</string>
		<string>dd_dda-deva</string>
		<string>dd_ddha-deva</string>
		<string>dd_na-deva</string>
		<string>dd_ma-deva</string>
		<string>dd_ya-deva</string>
		<string>ddh_ddha-deva</string>
		<string>ddh_na-deva</string>
		<string>ddh_ya-deva</string>
		<string>nna_ra-deva</string>
		<string>ta_ra-deva</string>
		<string>t_kha-deva</string>
		<string>t_kh_na-deva</string>
		<string>t_kh_ra-deva</string>
		<string>t_ta-deva</string>
		<string>t_t-deva</string>
		<string>t_t_ya-deva</string>
		<string>t_t_va-deva</string>
		<string>t_tha-deva</string>
		<string>t_na-deva</string>
		<string>t_n_ya-deva</string>
		<string>t_ya-deva</string>
		<string>t_ra-deva</string>
		<string>t_sa-deva</string>
		<string>t_s_na-deva</string>
		<string>t_s_ya-deva</string>
		<string>t_s_va-deva</string>
		<string>t_r-deva</string>
		<string>t_r_ya-deva</string>
		<string>tha_ra-deva</string>
		<string>da_rVocalicMatra-deva</string>
		<string>d_ga-deva</string>
		<string>d_g_ra-deva</string>
		<string>d_gha-deva</string>
		<string>d_da-deva</string>
		<string>d_dha-deva</string>
		<string>d_dh_r_ya-deva</string>
		<string>d_na-deva</string>
		<string>d_ba-deva</string>
		<string>d_b_ra-deva</string>
		<string>d_bha-deva</string>
		<string>d_ya-deva</string>
		<string>d_ra-deva</string>
		<string>d_va-deva</string>
		<string>dha_ra-deva</string>
		<string>na_ra-deva</string>
		<string>n_t_ra-deva</string>
		<string>n_t_sa-deva</string>
		<string>n_d_ra-deva</string>
		<string>n_d_va-deva</string>
		<string>n_na-deva</string>
		<string>n_bha-deva</string>
		<string>n_ra-deva</string>
		<string>n_sa-deva</string>
		<string>n_s_tta-deva</string>
		<string>pa_ta-deva</string>
		<string>pa_ra-deva</string>
		<string>p_tta-deva</string>
		<string>p_la-deva</string>
		<string>pha_ra-deva</string>
		<string>pha_ra_nukta-deva</string>
		<string>ph_la-deva</string>
		<string>b_ja-deva</string>
		<string>b_j_ya-deva</string>
		<string>b_na-deva</string>
		<string>b_ra-deva</string>
		<string>b_sha-deva</string>
		<string>b_sa-deva</string>
		<string>b_za-deva</string>
		<string>b_r-deva</string>
		<string>bha_ra-deva</string>
		<string>bh_r_ya-deva</string>
		<string>ma_ra-deva</string>
		<string>ya_ra-deva</string>
		<string>ra_uMatra-deva</string>
		<string>ra_uuMatra-deva</string>
		<string>ra_halant-deva</string>
		<string>la_ra-deva</string>
		<string>l_d_ra-deva</string>
		<string>l_la-deva</string>
		<string>va_ra-deva</string>
		<string>v_na-deva</string>
		<string>sha_matra_vocalicR-deva</string>
		<string>sha_ra-deva</string>
		<string>sh_ca-deva</string>
		<string>sh_na-deva</string>
		<string>sh_la-deva</string>
		<string>sh_va-deva</string>
		<string>ssa_ra-deva</string>
		<string>ss_tta-deva</string>
		<string>ss_tt_ya-deva</string>
		<string>ss_tt_va-deva</string>
		<string>ss_tt_rakar-deva</string>
		<string>ss_ttha-deva</string>
		<string>ss_tth_ya-deva</string>
		<string>ss_tth_rakar-deva</string>
		<string>sa_t_ra-deva</string>
		<string>sa_ra-deva</string>
		<string>s_t_ra-deva</string>
		<string>ha_ra-deva</string>
		<string>ha_uMatra-deva</string>
		<string>ha_uuMatra-deva</string>
		<string>h_matra_vocalicR-deva</string>
		<string>h_nna-deva</string>
		<string>h_na-deva</string>
		<string>h_ma-deva</string>
		<string>h_ya-deva</string>
		<string>h_la-deva</string>
		<string>h_va-deva</string>
		<string>khh_ta-deva</string>
		<string>khh_ma-deva</string>
		<string>khh_ya-deva</string>
		<string>khh_ra-deva</string>
		<string>khh_va-deva</string>
		<string>khh_sha-deva</string>
		<string>khh_sa-deva</string>
		<string>z_ra-deva</string>
		<string>ka_ra-deva.alt</string>
		<string>j_ja-deva.alt</string>
		<string>j_j-deva.alt</string>
		<string>kh_la-deva.loclMAR</string>
		<string>g_la-deva.loclMAR</string>
		<string>gh_la-deva.loclMAR</string>
		<string>c_la-deva.loclMAR</string>
		<string>ch_la-deva.loclMAR</string>
		<string>b_la-deva.loclMAR</string>
		<string>bh_la-deva.loclMAR</string>
		<string>m_la-deva.loclMAR</string>
		<string>l_la-deva.loclMAR</string>
		<string>v_la-deva.loclMAR</string>
		<string>k-deva</string>
		<string>kh-deva</string>
		<string>g-deva</string>
		<string>gh-deva</string>
		<string>ng-deva</string>
		<string>c-deva</string>
		<string>ch-deva</string>
		<string>j-deva</string>
		<string>jh-deva</string>
		<string>ny-deva</string>
		<string>tt-deva</string>
		<string>tth-deva</string>
		<string>dd-deva</string>
		<string>ddh-deva</string>
		<string>nn-deva</string>
		<string>t-deva</string>
		<string>th-deva</string>
		<string>d-deva</string>
		<string>dh-deva</string>
		<string>n-deva</string>
		<string>p-deva</string>
		<string>ph-deva</string>
		<string>b-deva</string>
		<string>bh-deva</string>
		<string>m-deva</string>
		<string>y-deva</string>
		<string>rr-deva</string>
		<string>l-deva</string>
		<string>ll-deva</string>
		<string>v-deva</string>
		<string>sh-deva</string>
		<string>ss-deva</string>
		<string>s-deva</string>
		<string>h-deva</string>
		<string>khh-deva</string>
		<string>z-deva</string>
		<string>f-deva</string>
		<string>sh-deva.loclMAR</string>
		<string>jh-deva.np</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>zero.onum</string>
		<string>one.onum</string>
		<string>two.onum</string>
		<string>three.onum</string>
		<string>four.onum</string>
		<string>five.onum</string>
		<string>six.onum</string>
		<string>seven.onum</string>
		<string>eight.onum</string>
		<string>nine.onum</string>
		<string>zero.pnum</string>
		<string>one.pnum</string>
		<string>two.pnum</string>
		<string>three.pnum</string>
		<string>four.pnum</string>
		<string>five.pnum</string>
		<string>six.pnum</string>
		<string>seven.pnum</string>
		<string>eight.pnum</string>
		<string>nine.pnum</string>
		<string>zero.subs</string>
		<string>one.subs</string>
		<string>two.subs</string>
		<string>three.subs</string>
		<string>four.subs</string>
		<string>five.subs</string>
		<string>six.subs</string>
		<string>seven.subs</string>
		<string>eight.subs</string>
		<string>nine.subs</string>
		<string>zero.sups</string>
		<string>one.sups</string>
		<string>two.sups</string>
		<string>three.sups</string>
		<string>four.sups</string>
		<string>five.sups</string>
		<string>six.sups</string>
		<string>seven.sups</string>
		<string>eight.sups</string>
		<string>nine.sups</string>
		<string>zero.tnum</string>
		<string>one.tnum</string>
		<string>two.tnum</string>
		<string>three.tnum</string>
		<string>four.tnum</string>
		<string>five.tnum</string>
		<string>six.tnum</string>
		<string>seven.tnum</string>
		<string>eight.tnum</string>
		<string>nine.tnum</string>
		<string>fraction</string>
		<string>onehalf</string>
		<string>onethird</string>
		<string>twothirds</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>oneeighth</string>
		<string>threeeighths</string>
		<string>fiveeighths</string>
		<string>seveneighths</string>
		<string>zero.dnom</string>
		<string>one.dnom</string>
		<string>two.dnom</string>
		<string>three.dnom</string>
		<string>four.dnom</string>
		<string>five.dnom</string>
		<string>six.dnom</string>
		<string>seven.dnom</string>
		<string>eight.dnom</string>
		<string>nine.dnom</string>
		<string>zero.numr</string>
		<string>one.numr</string>
		<string>two.numr</string>
		<string>three.numr</string>
		<string>four.numr</string>
		<string>five.numr</string>
		<string>six.numr</string>
		<string>seven.numr</string>
		<string>eight.numr</string>
		<string>nine.numr</string>
		<string>zero-deva</string>
		<string>one-deva</string>
		<string>two-deva</string>
		<string>three-deva</string>
		<string>four-deva</string>
		<string>five-deva</string>
		<string>six-deva</string>
		<string>seven-deva</string>
		<string>eight-deva</string>
		<string>nine-deva</string>
		<string>five-deva.np</string>
		<string>eight-deva.np</string>
		<string>asterisk</string>
		<string>backslash</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>colon</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>numbersign</string>
		<string>period</string>
		<string>question</string>
		<string>questiondown</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>semicolon</string>
		<string>slash</string>
		<string>underscore</string>
		<string>comma.dnom</string>
		<string>period.dnom</string>
		<string>slash.frac</string>
		<string>comma.numr</string>
		<string>period.numr</string>
		<string>comma.subs</string>
		<string>period.subs</string>
		<string>comma.sups</string>
		<string>period.sups</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>parenleft.dnom</string>
		<string>parenright.dnom</string>
		<string>parenleft.numr</string>
		<string>parenright.numr</string>
		<string>parenleft.subs</string>
		<string>parenright.subs</string>
		<string>parenleft.sups</string>
		<string>parenright.sups</string>
		<string>emdash</string>
		<string>endash</string>
		<string>figuredash</string>
		<string>hyphen</string>
		<string>uni00AD</string>
		<string>uni2015</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quotereversed</string>
		<string>quoteright</string>
		<string>quotesinglbase</string>
		<string>glottalstop-deva</string>
		<string>danda-deva</string>
		<string>dbldanda-deva</string>
		<string>abbreviation-deva</string>
		<string>space</string>
		<string>uni00A0</string>
		<string>uni2007</string>
		<string>uni00A0.frac.1</string>
		<string>space.frac</string>
		<string>uni00A0.frac</string>
		<string>nbspace.frac</string>
		<string>.notdef</string>
		<string>Euro</string>
		<string>cent</string>
		<string>colonmonetary</string>
		<string>currency</string>
		<string>dollar</string>
		<string>dong</string>
		<string>lira</string>
		<string>peseta</string>
		<string>rupee</string>
		<string>sterling</string>
		<string>uni0192</string>
		<string>uni20A6</string>
		<string>uni20B1</string>
		<string>uni20B2</string>
		<string>uni20B5</string>
		<string>uni20B9</string>
		<string>uni20BA</string>
		<string>yen</string>
		<string>approxequal</string>
		<string>asciitilde</string>
		<string>divide</string>
		<string>equal</string>
		<string>greater</string>
		<string>greaterequal</string>
		<string>infinity</string>
		<string>integral</string>
		<string>less</string>
		<string>lessequal</string>
		<string>logicalnot</string>
		<string>minus</string>
		<string>multiply</string>
		<string>notequal</string>
		<string>partialdiff</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>plus</string>
		<string>plusminus</string>
		<string>product</string>
		<string>radical</string>
		<string>summation</string>
		<string>uni00B5</string>
		<string>uni2126</string>
		<string>uni2206</string>
		<string>uni2215</string>
		<string>uni2219</string>
		<string>arrowup</string>
		<string>arrowright</string>
		<string>arrowdown</string>
		<string>arrowleft</string>
		<string>dottedCircle</string>
		<string>uni25C9</string>
		<string>blackDiamond</string>
		<string>lozenge</string>
		<string>filledbox</string>
		<string>triagup</string>
		<string>blackrightpointingtriangle</string>
		<string>triagdn</string>
		<string>blackleftpointingtriangle</string>
		<string>whiteuppointingtriangle</string>
		<string>whiterightpointingtriangle</string>
		<string>whitedownpointingtriangle</string>
		<string>whiteleftpointingtriangle</string>
		<string>uni2610</string>
		<string>uni2611</string>
		<string>musicalnote</string>
		<string>uni2713</string>
		<string>uni2752</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>at</string>
		<string>ampersand</string>
		<string>paragraph</string>
		<string>copyright</string>
		<string>registered</string>
		<string>uni2117</string>
		<string>section</string>
		<string>trademark</string>
		<string>degree</string>
		<string>estimated</string>
		<string>uni2113</string>
		<string>asciicircum</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>rightFacingSvasti</string>
		<string>uni2032</string>
		<string>uni2033</string>
		<string>uni2120</string>
		<string>at.case</string>
		<string>avagraha-deva</string>
		<string>om-deva</string>
		<string>acute</string>
		<string>breve</string>
		<string>caron</string>
		<string>cedilla</string>
		<string>circumflex</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>hungarumlaut</string>
		<string>macron</string>
		<string>ogonek</string>
		<string>ring</string>
		<string>tilde</string>
		<string>acute.cap</string>
		<string>breve.cap</string>
		<string>caron.cap</string>
		<string>circumflex.cap</string>
		<string>dieresis.cap</string>
		<string>dotaccent.cap</string>
		<string>grave.cap</string>
		<string>hungarumlaut.cap</string>
		<string>macron.cap</string>
		<string>ring.cap</string>
		<string>tilde.cap</string>
		<string>uni03060301</string>
		<string>uni03060300</string>
		<string>uni03060309</string>
		<string>uni03060303</string>
		<string>uni03020301</string>
		<string>uni03020306</string>
		<string>uni03020300</string>
		<string>uni03020309</string>
		<string>uni03020303</string>
		<string>commaaccent</string>
		<string>uni03080301</string>
		<string>uni0308030C</string>
		<string>uni03080300</string>
		<string>uni03080304</string>
		<string>uni0300</string>
		<string>uni0301</string>
		<string>uni0303</string>
		<string>uni0309</string>
		<string>uni030F</string>
		<string>uni0312</string>
		<string>uni0313</string>
		<string>uni031B</string>
		<string>uni0323</string>
		<string>uni0324</string>
		<string>uni0326</string>
		<string>uni0327</string>
		<string>uni0328</string>
		<string>uni032E</string>
		<string>uni0331</string>
		<string>uni030C.a</string>
		<string>uni0326.a</string>
		<string>uni0301.cap</string>
		<string>uni03060301.cap</string>
		<string>uni03060300.cap</string>
		<string>uni03060309.cap</string>
		<string>uni03060303.cap</string>
		<string>uni0327.cap</string>
		<string>uni03020301.cap</string>
		<string>uni03020306.cap</string>
		<string>uni03020300.cap</string>
		<string>uni03020309.cap</string>
		<string>uni03020303.cap</string>
		<string>uni030F.cap</string>
		<string>uni03080301.cap</string>
		<string>uni0308030C.cap</string>
		<string>uni03080300.cap</string>
		<string>uni03080304.cap</string>
		<string>uni0300.cap</string>
		<string>uni0309.cap</string>
		<string>uni0328.cap</string>
		<string>uni0303.cap</string>
		<string>uni0326.1</string>
		<string>uni02BB</string>
		<string>uni02BC</string>
		<string>uni02BE</string>
		<string>uni02BF</string>
		<string>uni02C8</string>
		<string>uni02CA</string>
		<string>uni02CB</string>
		<string>uni02CC</string>
		<string>visarga-deva</string>
		<string>uMatra-deva</string>
		<string>uuMatra-deva</string>
		<string>rVocalicMatra-deva</string>
		<string>rrVocalicMatra-deva</string>
		<string>lVocalicMatra-deva</string>
		<string>llVocalicMatra-deva</string>
		<string>eCandraMatra-deva</string>
		<string>candraBindu-deva</string>
		<string>candraBindu_iMatra-deva</string>
		<string>eShortMatra-deva</string>
		<string>eMatra-deva</string>
		<string>eMatra_anusvara-deva</string>
		<string>eMatra_reph-deva</string>
		<string>eMatra_reph_anusvara-deva</string>
		<string>aiMatra-deva</string>
		<string>aiMatra_anusvara-deva</string>
		<string>aiMatra_reph-deva</string>
		<string>aiMatra_reph_anusvara-deva</string>
		<string>anusvara-deva</string>
		<string>anusvara_eMatra-deva</string>
		<string>halant-deva</string>
		<string>nukta-deva</string>
		<string>reph-deva</string>
		<string>reph_anusvara-deva</string>
		<string>rakar-deva</string>
		<string>rakar_uMatra-deva</string>
		<string>rakar_uuMatra-deva</string>
		<string>oeMatra-deva</string>
		<string>ueMatra-deva</string>
		<string>uueMatra-deva</string>
		<string>udatta-deva</string>
		<string>anudatta-deva</string>
		<string>grave-deva</string>
		<string>acute-deva</string>
		<string>anusvara-deva.001</string>
		<string>reph_anusvara-deva.imatra</string>
		<string>caronvertical</string>
	</array>
</dict>
</plist>
