<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>b-deva</key>
	<dict>
		<key>@MMK_R_pa-deva</key>
		<real>-9.5</real>
	</dict>
	<key>b_r-deva</key>
	<dict>
		<key>@MMK_R_pa-deva</key>
		<real>-9.25</real>
	</dict>
	<key>bh-deva</key>
	<dict>
		<key>@MMK_R_pa-deva</key>
		<real>-7.5</real>
	</dict>
	<key>c-deva</key>
	<dict>
		<key>@MMK_R_pa-deva</key>
		<real>-10.75</real>
	</dict>
	<key>dh-deva</key>
	<dict>
		<key>@MMK_R_pa-deva</key>
		<integer>-10</integer>
	</dict>
	<key>f-deva</key>
	<dict>
		<key>@MMK_R_pa-deva</key>
		<real>-8.75</real>
	</dict>
	<key>gh-deva</key>
	<dict>
		<key>@MMK_R_pa-deva</key>
		<real>-12.5</real>
	</dict>
	<key>h-deva</key>
	<dict>
		<key>@MMK_R_pa-deva</key>
		<integer>-10</integer>
	</dict>
	<key>jh-deva</key>
	<dict>
		<key>@MMK_R_pa-deva</key>
		<real>-7.25</real>
	</dict>
	<key>jh-deva.np</key>
	<dict>
		<key>@MMK_R_pa-deva</key>
		<real>-8.5</real>
	</dict>
	<key>k-deva</key>
	<dict>
		<key>@MMK_R_pa-deva</key>
		<real>-10.25</real>
	</dict>
	<key>kh-deva</key>
	<dict>
		<key>@MMK_R_pa-deva</key>
		<integer>-34</integer>
	</dict>
	<key>khh-deva</key>
	<dict>
		<key>@MMK_R_pa-deva</key>
		<real>-34.5</real>
	</dict>
	<key>l-deva</key>
	<dict>
		<key>@MMK_R_pa-deva</key>
		<real>-11.25</real>
	</dict>
	<key>m-deva</key>
	<dict>
		<key>@MMK_R_pa-deva</key>
		<integer>-5</integer>
	</dict>
	<key>n-deva</key>
	<dict>
		<key>@MMK_R_pa-deva</key>
		<integer>-5</integer>
	</dict>
	<key>ny-deva</key>
	<dict>
		<key>@MMK_R_pa-deva</key>
		<real>-2.75</real>
	</dict>
	<key>p-deva</key>
	<dict>
		<key>@MMK_R_pa-deva</key>
		<real>-7.5</real>
	</dict>
	<key>ph-deva</key>
	<dict>
		<key>@MMK_R_pa-deva</key>
		<real>-8.25</real>
	</dict>
	<key>s-deva</key>
	<dict>
		<key>@MMK_R_pa-deva</key>
		<real>-7.5</real>
	</dict>
	<key>ss-deva</key>
	<dict>
		<key>@MMK_R_pa-deva</key>
		<integer>-10</integer>
	</dict>
	<key>t_r-deva</key>
	<dict>
		<key>@MMK_R_pa-deva</key>
		<integer>-5</integer>
	</dict>
	<key>th-deva</key>
	<dict>
		<key>@MMK_R_pa-deva</key>
		<integer>-10</integer>
	</dict>
	<key>v-deva</key>
	<dict>
		<key>@MMK_R_pa-deva</key>
		<real>-16.5</real>
	</dict>
	<key>y-deva</key>
	<dict>
		<key>@MMK_R_pa-deva</key>
		<integer>-10</integer>
	</dict>
</dict>
</plist>
